.download_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > .download_content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 90%;

    > .download_aside_container {
      position: relative;
      display: flex;
      height: 100%;

      > .download_selector {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 105px;
        background-color: #2b2f31;

        > .process {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-top: -1px;
          height: 112px;
          border-bottom: 1px solid #3b4656;
          border-left: 3px solid transparent;
          filter: saturate(0);
          opacity: 0.6;

          > img {
            width: 80px;
            color: white;
            font-size: 10px;
            height: 80px;
          }

          &:hover {
            background-color: #131415;
            transition: background-color 0.1s ease 0s;
          }
        }

        > .active {
          z-index: 1;
          filter: none;
          opacity: 1;
          border-color: transparent transparent transparent #93e1ff;
          background-color: #1a1c1e;
        }

        > .foot {
          display: flex;
          flex-shrink: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-self: center;
          height: 76px;
          width: 105px;
          margin-top: auto;
          margin-right: auto;
          box-shadow: #3b4043 0px 0px 0px 1px inset;
          border-left-width: 0px;
          background-color: #202427;
          color: #cfd9e0;
          position: relative;
          overflow: hidden;
          left: -1px;
          bottom: -1px;
          transition: color 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;

          &:hover {
            color: white;
            background-color: #1a1c1e;
            box-shadow: #2f3335 0px 0px 0px 1px inset;
            transition: color 0.3s ease 0s, background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;

            > span {
              color: #cfd9e0;
              font-family: "Roboto", Arial, Helvetica, sans-serif;
              font-size: 12px;
              text-transform: uppercase;
              margin-top: 8px;
            }

            > span i {
              fill: #cfd9e0;
              height: 10px;
              width: 10px;
              margin-left: 5px;
            }

            > i {
              width: 18px;
              height: 16px;
              fill: #cfd9e0;
              transition: fill 0.3s ease 0s;
            }
          }
        }
      }
    }

    > .download_container {
      width: 100%;
      height: 100%;
      display: flex;

      > .download_container_content {
        display: flex;
      }
    }
  }
}

#progress {
  position: absolute;
  bottom: 56px;
  z-index: 9999;
  width: 100%;
  left: 0
}

#category_content {
  position: relative;
  height: 100%;
  width: 100%;
}