@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/perfect-scrollbar/css/perfect-scrollbar";
@import "node_modules/sweetalert2/dist/sweetalert2";
@import "interface";
@import "modules/variable";
@import "modules/aside";
@import "modules/layout";
@import "modules/nav";
@import "modules/acordion";
@import "modules/card";
@import "modules/loader";
@import "modules/modal";
@import "modules/changelog";
@import "modules/button";
@import "modules/alert";
@import "modules/ribbon";


@import "download";

body {
  margin: 0;
  padding: 0;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    color: white;
  }
}

#root, img {
  height: 100%;
  width: 100%;
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page_content {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}
