$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "font/icomoon/webfonts" !default;

$icon-logo_trainz_seul-path1: "\e900";
$icon-logo_trainz_seul-path2: "\e901";
$icon-logo_trainz_seul-path3: "\e902";
$icon-logo_trainz_seul-path4: "\e903";
$icon-logo_trainz_seul-path5: "\e904";
$icon-logo_trainz_seul-path6: "\e905";
$icon-logo_trainz_seul-path7: "\e906";
$icon-logo_trainznation-path1: "\e907";
$icon-logo_trainznation-path2: "\e908";
$icon-logo_trainznation-path3: "\e909";
$icon-logo_trainznation-path4: "\e90a";
$icon-logo_trainznation-path5: "\e90b";
$icon-logo_trainznation-path6: "\e90c";
$icon-logo_trainznation-path7: "\e90d";
$icon-logo_trainznation-path8: "\e90e";
$icon-logo_trainznation-path9: "\e90f";
$icon-logo_trainznation-path10: "\e910";
$icon-logo_trainznation-path11: "\e911";
$icon-logo_trainznation-path12: "\e912";
$icon-logo_trainznation-path13: "\e913";
$icon-logo_trainznation-path14: "\e914";
$icon-logo_trainznation-path15: "\e915";
$icon-logo_trainznation-path16: "\e916";
$icon-logo_trainznation-path17: "\e917";
$icon-logo_trainznation-path18: "\e918";
$icon-logo_trainznation-path19: "\e919";
$icon-logo_trainznation-path20: "\e91a";
$icon-logo_trainznation-path21: "\e91b";
$icon-logo_trainznation-path22: "\e91c";
$icon-logo_trainznation-path23: "\e91d";
$icon-logo_trainznation-path24: "\e91e";
$icon-logo_trainznation-path25: "\e91f";
$icon-logo_trainznation-path26: "\e920";
$icon-logo_trainznation-path27: "\e921";
$icon-logo_trainznation-path28: "\e922";
$icon-logo_trainznation-path29: "\e923";
$icon-logo_trainznation-path30: "\e924";
$icon-logo_trainznation-path31: "\e925";
$icon-logo_trainznation-path32: "\e926";
$icon-logo_trainznation-path33: "\e927";
$icon-logo_trainznation-path34: "\e928";
$icon-logo_trainznation-path35: "\e929";
$icon-logo_trainznation-path36: "\e92a";
$icon-logo_trainznation-path37: "\e92b";
$icon-logo_trainznation-path38: "\e92c";
$icon-logo_trainznation-path39: "\e92d";
$icon-logo_trainznation-path40: "\e92e";
$icon-logo_trainznation-path41: "\e92f";
$icon-logo_trainznation-path42: "\e930";
$icon-logo_trainznation-path43: "\e931";
$icon-logo_trainznation-path44: "\e932";
$icon-logo_trainznation-path45: "\e933";
$icon-1password: "\e934";
$icon-500px1: "\e935";
$icon-abbrobotstudio: "\e936";
$icon-about-dot-me: "\e937";
$icon-abstract: "\e938";
$icon-academia: "\e939";
$icon-accusoft: "\e93a";
$icon-acm: "\e93b";
$icon-addthis: "\e93c";
$icon-adguard: "\e93d";
$icon-adobe: "\e93e";
$icon-adobeacrobatreader: "\e93f";
$icon-adobeaftereffects: "\e940";
$icon-adobeaudition: "\e941";
$icon-adobecreativecloud: "\e942";
$icon-adobedreamweaver: "\e943";
$icon-adobeillustrator: "\e944";
$icon-adobeindesign: "\e945";
$icon-adobelightroomcc: "\e946";
$icon-adobelightroomclassic: "\e947";
$icon-adobephotoshop: "\e948";
$icon-adobepremiere: "\e949";
$icon-adobetypekit: "\e94a";
$icon-adobexd: "\e94b";
$icon-airbnb: "\e94c";
$icon-airplayaudio: "\e94d";
$icon-airplayvideo: "\e94e";
$icon-algolia: "\e94f";
$icon-alliedmodders: "\e950";
$icon-amazon1: "\e951";
$icon-amazonalexa: "\e952";
$icon-amazonaws: "\e953";
$icon-amd: "\e954";
$icon-americanexpress: "\e955";
$icon-anaconda: "\e956";
$icon-analogue: "\e957";
$icon-anchor: "\e958";
$icon-android1: "\e959";
$icon-angellist: "\e95a";
$icon-angular: "\e95b";
$icon-angularuniversal: "\e95c";
$icon-ansible: "\e95d";
$icon-apache: "\e95e";
$icon-apacheairflow: "\e95f";
$icon-apachecordova: "\e960";
$icon-apacheflink: "\e961";
$icon-apachekafka: "\e962";
$icon-apachenetbeanside: "\e963";
$icon-apacheopenoffice: "\e964";
$icon-apacherocketmq: "\e965";
$icon-apachespark: "\e966";
$icon-apple: "\e967";
$icon-applemusic: "\e968";
$icon-applepay: "\e969";
$icon-applepodcasts: "\e96a";
$icon-appveyor: "\e96b";
$icon-aral: "\e96c";
$icon-archiveofourown: "\e96d";
$icon-archlinux: "\e96e";
$icon-arduino: "\e96f";
$icon-artstation: "\e970";
$icon-arxiv: "\e971";
$icon-asana: "\e972";
$icon-asciidoctor: "\e973";
$icon-at-and-t: "\e974";
$icon-atlassian: "\e975";
$icon-atom: "\e976";
$icon-audi: "\e977";
$icon-audible: "\e978";
$icon-aurelia: "\e979";
$icon-auth0: "\e97a";
$icon-automatic: "\e97b";
$icon-autotask: "\e97c";
$icon-aventrix: "\e97d";
$icon-awesomewm: "\e97e";
$icon-azureartifacts: "\e97f";
$icon-azuredevops: "\e980";
$icon-azurepipelines: "\e981";
$icon-babel: "\e982";
$icon-baidu: "\e983";
$icon-bamboo: "\e984";
$icon-bancontact: "\e985";
$icon-bandcamp: "\e986";
$icon-bandlab: "\e987";
$icon-basecamp1: "\e988";
$icon-bathasu: "\e989";
$icon-beats: "\e98a";
$icon-beatsbydre: "\e98b";
$icon-behance1: "\e98c";
$icon-bigcartel: "\e98d";
$icon-bing: "\e98e";
$icon-bit: "\e98f";
$icon-bitbucket: "\e990";
$icon-bitcoin: "\e991";
$icon-bitdefender: "\e992";
$icon-bitly: "\e993";
$icon-bitrise: "\e994";
$icon-blackberry: "\e995";
$icon-blender: "\e996";
$icon-blogger1: "\e997";
$icon-bmcsoftware: "\e998";
$icon-boeing: "\e999";
$icon-boost: "\e99a";
$icon-bootstrap: "\e99b";
$icon-bower: "\e99c";
$icon-box: "\e99d";
$icon-brand-dot-ai: "\e99e";
$icon-brandfolder: "\e99f";
$icon-brave: "\e9a0";
$icon-breaker: "\e9a1";
$icon-broadcom: "\e9a2";
$icon-buddy: "\e9a3";
$icon-buffer: "\e9a4";
$icon-buymeacoffee: "\e9a5";
$icon-buzzfeed: "\e9a6";
$icon-c: "\e9a7";
$icon-cakephp: "\e9a8";
$icon-campaignmonitor: "\e9a9";
$icon-canva: "\e9aa";
$icon-cashapp: "\e9ab";
$icon-cassandra: "\e9ac";
$icon-castorama: "\e9ad";
$icon-castro: "\e9ae";
$icon-centos: "\e9af";
$icon-cevo: "\e9b0";
$icon-chase: "\e9b1";
$icon-chef: "\e9b2";
$icon-circle: "\e9b3";
$icon-circleci: "\e9b4";
$icon-cirrusci: "\e9b5";
$icon-cisco: "\e9b6";
$icon-civicrm: "\e9b7";
$icon-clockify: "\e9b8";
$icon-clojure: "\e9b9";
$icon-cloudbees: "\e9ba";
$icon-cloudflare: "\e9bb";
$icon-cmake: "\e9bc";
$icon-co-op: "\e9bd";
$icon-codacy: "\e9be";
$icon-codecademy: "\e9bf";
$icon-codechef: "\e9c0";
$icon-codeclimate: "\e9c1";
$icon-codecov: "\e9c2";
$icon-codefactor: "\e9c3";
$icon-codeforces: "\e9c4";
$icon-codeigniter: "\e9c5";
$icon-codepen1: "\e9c6";
$icon-coderwall: "\e9c7";
$icon-codesandbox: "\e9c8";
$icon-codeship: "\e9c9";
$icon-codewars: "\e9ca";
$icon-codio: "\e9cb";
$icon-coffeescript: "\e9cc";
$icon-coinbase: "\e9cd";
$icon-commonworkflowlanguage: "\e9ce";
$icon-composer: "\e9cf";
$icon-compropago: "\e9d0";
$icon-conda-forge: "\e9d1";
$icon-conekta: "\e9d2";
$icon-confluence: "\e9d3";
$icon-coronarenderer: "\e9d4";
$icon-coursera: "\e9d5";
$icon-coveralls: "\e9d6";
$icon-cpanel: "\e9d7";
$icon-cplusplus: "\e9d8";
$icon-creativecommons: "\e9d9";
$icon-crehana: "\e9da";
$icon-crunchbase: "\e9db";
$icon-crunchyroll: "\e9dc";
$icon-cryengine: "\e9dd";
$icon-csharp: "\e9de";
$icon-css31: "\e9df";
$icon-csswizardry: "\e9e0";
$icon-curl: "\e9e1";
$icon-d3-dot-js: "\e9e2";
$icon-dailymotion: "\e9e3";
$icon-dart: "\e9e4";
$icon-dashlane: "\e9e5";
$icon-datacamp: "\e9e6";
$icon-dazn: "\e9e7";
$icon-dblp: "\e9e8";
$icon-debian: "\e9e9";
$icon-deepin: "\e9ea";
$icon-deezer: "\e9eb";
$icon-delicious1: "\e9ec";
$icon-deliveroo: "\e9ed";
$icon-dell: "\e9ee";
$icon-deno: "\e9ef";
$icon-dependabot: "\e9f0";
$icon-designernews: "\e9f1";
$icon-dev-dot-to: "\e9f2";
$icon-deviantart1: "\e9f3";
$icon-devrant: "\e9f4";
$icon-diaspora: "\e9f5";
$icon-digg: "\e9f6";
$icon-digitalocean: "\e9f7";
$icon-directus: "\e9f8";
$icon-discord: "\e9f9";
$icon-discourse: "\e9fa";
$icon-discover: "\e9fb";
$icon-disqus: "\e9fc";
$icon-disroot: "\e9fd";
$icon-django: "\e9fe";
$icon-dlna: "\e9ff";
$icon-docker: "\ea00";
$icon-docusign: "\ea01";
$icon-dolby: "\ea02";
$icon-dot-net: "\ea03";
$icon-draugiem-dot-lv: "\ea04";
$icon-dribbble1: "\ea05";
$icon-drone: "\ea06";
$icon-dropbox1: "\ea07";
$icon-drupal: "\ea08";
$icon-dtube: "\ea09";
$icon-duckduckgo: "\ea0a";
$icon-dunked: "\ea0b";
$icon-duolingo: "\ea0c";
$icon-dynatrace: "\ea0d";
$icon-ebay: "\ea0e";
$icon-eclipseide: "\ea0f";
$icon-elastic: "\ea10";
$icon-elasticcloud: "\ea11";
$icon-elasticsearch: "\ea12";
$icon-elasticstack: "\ea13";
$icon-electron: "\ea14";
$icon-elementary: "\ea15";
$icon-eleventy: "\ea16";
$icon-ello1: "\ea17";
$icon-elsevier: "\ea18";
$icon-ember-dot-js: "\ea19";
$icon-emlakjet: "\ea1a";
$icon-empirekred: "\ea1b";
$icon-envato: "\ea1c";
$icon-epel: "\ea1d";
$icon-epicgames: "\ea1e";
$icon-epson: "\ea1f";
$icon-esea: "\ea20";
$icon-eslint: "\ea21";
$icon-ethereum: "\ea22";
$icon-etsy: "\ea23";
$icon-eventbrite: "\ea24";
$icon-eventstore: "\ea25";
$icon-evernote: "\ea26";
$icon-everplaces: "\ea27";
$icon-evry: "\ea28";
$icon-exercism: "\ea29";
$icon-expertsexchange: "\ea2a";
$icon-expo: "\ea2b";
$icon-eyeem: "\ea2c";
$icon-f-droid: "\ea2d";
$icon-f-secure: "\ea2e";
$icon-facebook1: "\ea2f";
$icon-faceit: "\ea30";
$icon-fandango: "\ea31";
$icon-favro: "\ea32";
$icon-feathub: "\ea33";
$icon-fedora: "\ea34";
$icon-feedly: "\ea35";
$icon-fidoalliance: "\ea36";
$icon-figma: "\ea37";
$icon-filezilla: "\ea38";
$icon-firebase: "\ea39";
$icon-fitbit: "\ea3a";
$icon-fiverr: "\ea3b";
$icon-flask: "\ea3c";
$icon-flattr1: "\ea3d";
$icon-flickr1: "\ea3e";
$icon-flipboard: "\ea3f";
$icon-floatplane: "\ea40";
$icon-flutter: "\ea41";
$icon-fnac: "\ea42";
$icon-formstack: "\ea43";
$icon-fossa: "\ea44";
$icon-fossilscm: "\ea45";
$icon-foursquare1: "\ea46";
$icon-framer: "\ea47";
$icon-freebsd: "\ea48";
$icon-freecodecamp: "\ea49";
$icon-fujifilm: "\ea4a";
$icon-fujitsu: "\ea4b";
$icon-furaffinity: "\ea4c";
$icon-furrynetwork: "\ea4d";
$icon-garmin: "\ea4e";
$icon-gatsby: "\ea4f";
$icon-gauges: "\ea50";
$icon-genius: "\ea51";
$icon-gentoo: "\ea52";
$icon-geocaching: "\ea53";
$icon-gerrit: "\ea54";
$icon-ghost: "\ea55";
$icon-gimp: "\ea56";
$icon-git1: "\ea57";
$icon-gitea: "\ea58";
$icon-github1: "\ea59";
$icon-gitlab: "\ea5a";
$icon-gitpod: "\ea5b";
$icon-gitter: "\ea5c";
$icon-glassdoor: "\ea5d";
$icon-glitch: "\ea5e";
$icon-gmail: "\ea5f";
$icon-gnome: "\ea60";
$icon-gnu: "\ea61";
$icon-gnuicecat: "\ea62";
$icon-gnuprivacyguard: "\ea63";
$icon-gnusocial: "\ea64";
$icon-go: "\ea65";
$icon-godotengine: "\ea66";
$icon-gog-dot-com: "\ea67";
$icon-goldenline: "\ea68";
$icon-goodreads: "\ea69";
$icon-google1: "\ea6a";
$icon-googleads: "\ea6b";
$icon-googleanalytics: "\ea6c";
$icon-googlechrome: "\ea6d";
$icon-googlecloud: "\ea6e";
$icon-googledrive: "\ea6f";
$icon-googlehangouts: "\ea70";
$icon-googlehangoutschat: "\ea71";
$icon-googlekeep: "\ea72";
$icon-googlepay: "\ea73";
$icon-googleplay: "\ea74";
$icon-googlepodcasts: "\ea75";
$icon-googlescholar: "\ea76";
$icon-googlesearchconsole: "\ea77";
$icon-gov-dot-uk: "\ea78";
$icon-gradle: "\ea79";
$icon-grafana: "\ea7a";
$icon-graphcool: "\ea7b";
$icon-graphql: "\ea7c";
$icon-grav: "\ea7d";
$icon-gravatar: "\ea7e";
$icon-greenkeeper: "\ea7f";
$icon-greensock: "\ea80";
$icon-groovy: "\ea81";
$icon-groupon: "\ea82";
$icon-gulp: "\ea83";
$icon-gumroad: "\ea84";
$icon-gumtree: "\ea85";
$icon-gutenberg: "\ea86";
$icon-habr: "\ea87";
$icon-hackaday: "\ea88";
$icon-hackerearth: "\ea89";
$icon-hackerone: "\ea8a";
$icon-hackerrank: "\ea8b";
$icon-hackhands: "\ea8c";
$icon-hackster: "\ea8d";
$icon-happycow: "\ea8e";
$icon-hashnode: "\ea8f";
$icon-haskell: "\ea90";
$icon-hatenabookmark: "\ea91";
$icon-haxe: "\ea92";
$icon-helm: "\ea93";
$icon-here: "\ea94";
$icon-heroku: "\ea95";
$icon-hexo: "\ea96";
$icon-highly: "\ea97";
$icon-hipchat: "\ea98";
$icon-hitachi: "\ea99";
$icon-hockeyapp: "\ea9a";
$icon-homeassistant: "\ea9b";
$icon-homify: "\ea9c";
$icon-hootsuite: "\ea9d";
$icon-houzz: "\ea9e";
$icon-hp: "\ea9f";
$icon-html5: "\eaa0";
$icon-htmlacademy: "\eaa1";
$icon-huawei: "\eaa2";
$icon-hubspot: "\eaa3";
$icon-hulu: "\eaa4";
$icon-humblebundle: "\eaa5";
$icon-hurriyetemlak: "\eaa6";
$icon-hypothesis: "\eaa7";
$icon-iata: "\eaa8";
$icon-ibm: "\eaa9";
$icon-icloud: "\eaaa";
$icon-icomoon: "\eaab";
$icon-icon: "\eaac";
$icon-iconjar: "\eaad";
$icon-icq: "\eaae";
$icon-ideal: "\eaaf";
$icon-ifixit: "\eab0";
$icon-imdb: "\eab1";
$icon-imgur: "\eab2";
$icon-indeed: "\eab3";
$icon-influxdb: "\eab4";
$icon-inkscape: "\eab5";
$icon-instacart: "\eab6";
$icon-instagram1: "\eab7";
$icon-instapaper: "\eab8";
$icon-intel: "\eab9";
$icon-intellijidea: "\eaba";
$icon-intercom: "\eabb";
$icon-internetarchive: "\eabc";
$icon-internetexplorer: "\eabd";
$icon-invision: "\eabe";
$icon-invoiceninja: "\eabf";
$icon-ionic: "\eac0";
$icon-ios: "\eac1";
$icon-ipfs: "\eac2";
$icon-issuu: "\eac3";
$icon-itch-dot-io: "\eac4";
$icon-itunes: "\eac5";
$icon-jabber: "\eac6";
$icon-java: "\eac7";
$icon-javascript: "\eac8";
$icon-jekyll: "\eac9";
$icon-jenkins: "\eaca";
$icon-jest: "\eacb";
$icon-jet: "\eacc";
$icon-jetbrains: "\eacd";
$icon-jinja: "\eace";
$icon-jira: "\eacf";
$icon-joomla1: "\ead0";
$icon-jquery: "\ead1";
$icon-jsdelivr: "\ead2";
$icon-jsfiddle: "\ead3";
$icon-json: "\ead4";
$icon-jupyter: "\ead5";
$icon-justgiving: "\ead6";
$icon-kaggle: "\ead7";
$icon-kaios: "\ead8";
$icon-kaspersky: "\ead9";
$icon-kentico: "\eada";
$icon-keras: "\eadb";
$icon-keybase: "\eadc";
$icon-keycdn: "\eadd";
$icon-khanacademy: "\eade";
$icon-kibana: "\eadf";
$icon-kickstarter: "\eae0";
$icon-kik: "\eae1";
$icon-kirby: "\eae2";
$icon-klout: "\eae3";
$icon-known: "\eae4";
$icon-ko-fi: "\eae5";
$icon-kodi: "\eae6";
$icon-koding: "\eae7";
$icon-kotlin: "\eae8";
$icon-krita: "\eae9";
$icon-kubernetes: "\eaea";
$icon-laravel: "\eaeb";
$icon-laravelhorizon: "\eaec";
$icon-laravelnova: "\eaed";
$icon-last-dot-fm: "\eaee";
$icon-lastpass: "\eaef";
$icon-latex: "\eaf0";
$icon-launchpad: "\eaf1";
$icon-leetcode: "\eaf2";
$icon-lenovo: "\eaf3";
$icon-letsencrypt: "\eaf4";
$icon-letterboxd: "\eaf5";
$icon-lgtm: "\eaf6";
$icon-liberapay: "\eaf7";
$icon-librarything: "\eaf8";
$icon-libreoffice1: "\eaf9";
$icon-line: "\eafa";
$icon-linewebtoon: "\eafb";
$icon-linkedin1: "\eafc";
$icon-linode: "\eafd";
$icon-linux: "\eafe";
$icon-linuxfoundation: "\eaff";
$icon-linuxmint: "\eb00";
$icon-livejournal: "\eb01";
$icon-livestream: "\eb02";
$icon-llvm: "\eb03";
$icon-logstash: "\eb04";
$icon-loop1: "\eb05";
$icon-lua: "\eb06";
$icon-lufthansa: "\eb07";
$icon-lumen: "\eb08";
$icon-lyft: "\eb09";
$icon-macys: "\eb0a";
$icon-magento: "\eb0b";
$icon-magisk: "\eb0c";
$icon-mail-dot-ru: "\eb0d";
$icon-mailchimp: "\eb0e";
$icon-makerbot: "\eb0f";
$icon-manageiq: "\eb10";
$icon-manjaro: "\eb11";
$icon-mapbox: "\eb12";
$icon-markdown: "\eb13";
$icon-marketo: "\eb14";
$icon-mastercard: "\eb15";
$icon-mastodon: "\eb16";
$icon-materialdesign: "\eb17";
$icon-mathworks: "\eb18";
$icon-matrix: "\eb19";
$icon-mattermost: "\eb1a";
$icon-matternet: "\eb1b";
$icon-mcafee: "\eb1c";
$icon-mdnwebdocs: "\eb1d";
$icon-mediafire: "\eb1e";
$icon-mediatemple: "\eb1f";
$icon-medium: "\eb20";
$icon-meetup: "\eb21";
$icon-mega: "\eb22";
$icon-mendeley: "\eb23";
$icon-mercedes: "\eb24";
$icon-messenger: "\eb25";
$icon-meteor: "\eb26";
$icon-micro-dot-blog: "\eb27";
$icon-microgenetics: "\eb28";
$icon-microsoft: "\eb29";
$icon-microsoftaccess: "\eb2a";
$icon-microsoftazure: "\eb2b";
$icon-microsoftedge: "\eb2c";
$icon-microsoftexcel: "\eb2d";
$icon-microsoftoffice: "\eb2e";
$icon-microsoftonedrive: "\eb2f";
$icon-microsoftonenote: "\eb30";
$icon-microsoftoutlook: "\eb31";
$icon-microsoftpowerpoint: "\eb32";
$icon-microsoftteams: "\eb33";
$icon-microsoftword: "\eb34";
$icon-microstrategy: "\eb35";
$icon-minds: "\eb36";
$icon-minetest: "\eb37";
$icon-minutemailer: "\eb38";
$icon-mix: "\eb39";
$icon-mixcloud: "\eb3a";
$icon-mixer: "\eb3b";
$icon-mojang: "\eb3c";
$icon-monero: "\eb3d";
$icon-mongodb: "\eb3e";
$icon-monkeytie: "\eb3f";
$icon-monogram: "\eb40";
$icon-monster: "\eb41";
$icon-monzo: "\eb42";
$icon-moo: "\eb43";
$icon-mozilla: "\eb44";
$icon-mozillafirefox: "\eb45";
$icon-musescore: "\eb46";
$icon-mxlinux: "\eb47";
$icon-myspace: "\eb48";
$icon-mysql: "\eb49";
$icon-nativescript: "\eb4a";
$icon-nec: "\eb4b";
$icon-neo4j: "\eb4c";
$icon-netflix: "\eb4d";
$icon-netlify: "\eb4e";
$icon-next-dot-js: "\eb4f";
$icon-nextcloud: "\eb50";
$icon-nextdoor: "\eb51";
$icon-nginx: "\eb52";
$icon-nim: "\eb53";
$icon-nintendo: "\eb54";
$icon-nintendo3ds: "\eb55";
$icon-nintendogamecube: "\eb56";
$icon-nintendoswitch: "\eb57";
$icon-node-dot-js: "\eb58";
$icon-node-red: "\eb59";
$icon-nodemon: "\eb5a";
$icon-nokia: "\eb5b";
$icon-notion: "\eb5c";
$icon-notist: "\eb5d";
$icon-npm1: "\eb5e";
$icon-nucleo: "\eb5f";
$icon-nuget: "\eb60";
$icon-nutanix: "\eb61";
$icon-nuxt-dot-js: "\eb62";
$icon-nvidia: "\eb63";
$icon-obsstudio: "\eb64";
$icon-ocaml: "\eb65";
$icon-octave: "\eb66";
$icon-octopusdeploy: "\eb67";
$icon-oculus: "\eb68";
$icon-odnoklassniki: "\eb69";
$icon-openaccess: "\eb6a";
$icon-openapiinitiative: "\eb6b";
$icon-opencollective: "\eb6c";
$icon-openid: "\eb6d";
$icon-opensourceinitiative: "\eb6e";
$icon-openssl: "\eb6f";
$icon-openstreetmap: "\eb70";
$icon-opensuse: "\eb71";
$icon-openvpn: "\eb72";
$icon-opera1: "\eb73";
$icon-opsgenie: "\eb74";
$icon-oracle: "\eb75";
$icon-orcid: "\eb76";
$icon-origin: "\eb77";
$icon-osmc: "\eb78";
$icon-overcast: "\eb79";
$icon-overleaf: "\eb7a";
$icon-ovh: "\eb7b";
$icon-pagekit: "\eb7c";
$icon-palantir: "\eb7d";
$icon-paloaltosoftware: "\eb7e";
$icon-pandora: "\eb7f";
$icon-pantheon: "\eb80";
$icon-parse-dot-ly: "\eb81";
$icon-pastebin: "\eb82";
$icon-patreon: "\eb83";
$icon-paypal1: "\eb84";
$icon-peertube: "\eb85";
$icon-periscope: "\eb86";
$icon-php: "\eb87";
$icon-pi-hole: "\eb88";
$icon-picarto-dot-tv: "\eb89";
$icon-pinboard: "\eb8a";
$icon-pingdom: "\eb8b";
$icon-pingup: "\eb8c";
$icon-pinterest1: "\eb8d";
$icon-pivotaltracker: "\eb8e";
$icon-pjsip: "\eb8f";
$icon-plangrid: "\eb90";
$icon-player-dot-me: "\eb91";
$icon-playerfm: "\eb92";
$icon-playstation: "\eb93";
$icon-playstation3: "\eb94";
$icon-playstation4: "\eb95";
$icon-plesk: "\eb96";
$icon-plex: "\eb97";
$icon-pluralsight: "\eb98";
$icon-plurk: "\eb99";
$icon-pocket: "\eb9a";
$icon-pocketcasts: "\eb9b";
$icon-postgresql: "\eb9c";
$icon-postman: "\eb9d";
$icon-postwoman: "\eb9e";
$icon-powershell: "\eb9f";
$icon-prestashop: "\eba0";
$icon-prettier: "\eba1";
$icon-prismic: "\eba2";
$icon-probot: "\eba3";
$icon-processwire: "\eba4";
$icon-producthunt: "\eba5";
$icon-prometheus: "\eba6";
$icon-proto-dot-io: "\eba7";
$icon-protonmail: "\eba8";
$icon-proxmox: "\eba9";
$icon-publons: "\ebaa";
$icon-purescript: "\ebab";
$icon-pypi: "\ebac";
$icon-python: "\ebad";
$icon-pytorch: "\ebae";
$icon-pyup: "\ebaf";
$icon-qemu: "\ebb0";
$icon-qgis: "\ebb1";
$icon-qiita: "\ebb2";
$icon-qualcomm: "\ebb3";
$icon-quantcast: "\ebb4";
$icon-quantopian: "\ebb5";
$icon-quarkus: "\ebb6";
$icon-quicktime: "\ebb7";
$icon-quip: "\ebb8";
$icon-quora: "\ebb9";
$icon-qwiklabs: "\ebba";
$icon-qzone: "\ebbb";
$icon-r: "\ebbc";
$icon-rabbitmq: "\ebbd";
$icon-radiopublic: "\ebbe";
$icon-rails: "\ebbf";
$icon-raspberrypi: "\ebc0";
$icon-react: "\ebc1";
$icon-reactos: "\ebc2";
$icon-reactrouter: "\ebc3";
$icon-readthedocs: "\ebc4";
$icon-realm: "\ebc5";
$icon-reason: "\ebc6";
$icon-reasonstudios: "\ebc7";
$icon-redbubble: "\ebc8";
$icon-reddit1: "\ebc9";
$icon-redhat: "\ebca";
$icon-redis: "\ebcb";
$icon-redux: "\ebcc";
$icon-renren1: "\ebcd";
$icon-repl-dot-it: "\ebce";
$icon-researchgate: "\ebcf";
$icon-reverbnation: "\ebd0";
$icon-riot: "\ebd1";
$icon-ripple: "\ebd2";
$icon-riseup: "\ebd3";
$icon-rollup-dot-js: "\ebd4";
$icon-roots: "\ebd5";
$icon-roundcube: "\ebd6";
$icon-rss1: "\ebd7";
$icon-rstudio: "\ebd8";
$icon-ruby: "\ebd9";
$icon-rubygems: "\ebda";
$icon-runkeeper: "\ebdb";
$icon-rust: "\ebdc";
$icon-safari1: "\ebdd";
$icon-sahibinden: "\ebde";
$icon-salesforce: "\ebdf";
$icon-saltstack: "\ebe0";
$icon-samsung: "\ebe1";
$icon-samsungpay: "\ebe2";
$icon-sap: "\ebe3";
$icon-sass: "\ebe4";
$icon-saucelabs: "\ebe5";
$icon-scala: "\ebe6";
$icon-scaleway: "\ebe7";
$icon-scribd: "\ebe8";
$icon-scrutinizerci: "\ebe9";
$icon-seagate: "\ebea";
$icon-sega: "\ebeb";
$icon-sellfy: "\ebec";
$icon-semaphoreci: "\ebed";
$icon-sensu: "\ebee";
$icon-sentry: "\ebef";
$icon-serverfault: "\ebf0";
$icon-shazam: "\ebf1";
$icon-shell: "\ebf2";
$icon-shopify: "\ebf3";
$icon-showpad: "\ebf4";
$icon-siemens: "\ebf5";
$icon-signal: "\ebf6";
$icon-simpleicons: "\ebf7";
$icon-sinaweibo: "\ebf8";
$icon-sitepoint: "\ebf9";
$icon-sketch: "\ebfa";
$icon-skillshare: "\ebfb";
$icon-skyliner: "\ebfc";
$icon-skype1: "\ebfd";
$icon-slack: "\ebfe";
$icon-slashdot: "\ebff";
$icon-slickpic: "\ec00";
$icon-slides: "\ec01";
$icon-smashingmagazine: "\ec02";
$icon-smugmug: "\ec03";
$icon-snapchat: "\ec04";
$icon-snapcraft: "\ec05";
$icon-snyk: "\ec06";
$icon-society6: "\ec07";
$icon-socket-dot-io: "\ec08";
$icon-sogou: "\ec09";
$icon-solus: "\ec0a";
$icon-sonarcloud: "\ec0b";
$icon-sonarlint: "\ec0c";
$icon-sonarqube: "\ec0d";
$icon-sonarsource: "\ec0e";
$icon-songkick: "\ec0f";
$icon-sonicwall: "\ec10";
$icon-sonos: "\ec11";
$icon-soundcloud1: "\ec12";
$icon-sourceengine: "\ec13";
$icon-sourceforge: "\ec14";
$icon-sourcegraph: "\ec15";
$icon-spacemacs: "\ec16";
$icon-spacex: "\ec17";
$icon-sparkfun: "\ec18";
$icon-sparkpost: "\ec19";
$icon-spdx: "\ec1a";
$icon-speakerdeck: "\ec1b";
$icon-spectrum: "\ec1c";
$icon-spotify1: "\ec1d";
$icon-spotlight: "\ec1e";
$icon-spreaker: "\ec1f";
$icon-spring: "\ec20";
$icon-sprint: "\ec21";
$icon-square: "\ec22";
$icon-squarespace: "\ec23";
$icon-stackbit: "\ec24";
$icon-stackexchange: "\ec25";
$icon-stackoverflow1: "\ec26";
$icon-stackpath: "\ec27";
$icon-stackshare: "\ec28";
$icon-stadia: "\ec29";
$icon-statamic: "\ec2a";
$icon-staticman: "\ec2b";
$icon-statuspage: "\ec2c";
$icon-steam1: "\ec2d";
$icon-steamworks: "\ec2e";
$icon-steem: "\ec2f";
$icon-steemit: "\ec30";
$icon-steinberg: "\ec31";
$icon-stencyl: "\ec32";
$icon-stitcher: "\ec33";
$icon-storify: "\ec34";
$icon-storybook: "\ec35";
$icon-strapi: "\ec36";
$icon-strava: "\ec37";
$icon-stripe: "\ec38";
$icon-strongswan: "\ec39";
$icon-stubhub: "\ec3a";
$icon-styled-components: "\ec3b";
$icon-styleshare: "\ec3c";
$icon-stylus: "\ec3d";
$icon-sublimetext: "\ec3e";
$icon-subversion: "\ec3f";
$icon-superuser: "\ec40";
$icon-svelte: "\ec41";
$icon-svg1: "\ec42";
$icon-svgo: "\ec43";
$icon-swagger: "\ec44";
$icon-swarm: "\ec45";
$icon-swift: "\ec46";
$icon-symantec: "\ec47";
$icon-symfony: "\ec48";
$icon-synology: "\ec49";
$icon-t-mobile: "\ec4a";
$icon-tableau: "\ec4b";
$icon-tails: "\ec4c";
$icon-tailwindcss: "\ec4d";
$icon-tapas: "\ec4e";
$icon-teamviewer: "\ec4f";
$icon-ted: "\ec50";
$icon-teespring: "\ec51";
$icon-telegram1: "\ec52";
$icon-tencentqq: "\ec53";
$icon-tencentweibo: "\ec54";
$icon-tensorflow: "\ec55";
$icon-teradata: "\ec56";
$icon-terraform: "\ec57";
$icon-tesla: "\ec58";
$icon-themighty: "\ec59";
$icon-themoviedatabase: "\ec5a";
$icon-tidal: "\ec5b";
$icon-tiktok: "\ec5c";
$icon-timescale: "\ec5d";
$icon-tinder: "\ec5e";
$icon-todoist: "\ec5f";
$icon-toggl: "\ec60";
$icon-topcoder: "\ec61";
$icon-toptal: "\ec62";
$icon-tor: "\ec63";
$icon-toshiba: "\ec64";
$icon-trainerroad: "\ec65";
$icon-trakt: "\ec66";
$icon-travisci: "\ec67";
$icon-treehouse: "\ec68";
$icon-trello1: "\ec69";
$icon-trendmicro: "\ec6a";
$icon-tripadvisor: "\ec6b";
$icon-trulia: "\ec6c";
$icon-trustpilot: "\ec6d";
$icon-tumblr1: "\ec6e";
$icon-turkishairlines: "\ec6f";
$icon-twilio: "\ec70";
$icon-twitch1: "\ec71";
$icon-twitter1: "\ec72";
$icon-twoo: "\ec73";
$icon-typescript: "\ec74";
$icon-typo3: "\ec75";
$icon-uber: "\ec76";
$icon-ubereats: "\ec77";
$icon-ubisoft: "\ec78";
$icon-ublockorigin: "\ec79";
$icon-ubuntu: "\ec7a";
$icon-udacity: "\ec7b";
$icon-udemy: "\ec7c";
$icon-uikit: "\ec7d";
$icon-umbraco: "\ec7e";
$icon-unity: "\ec7f";
$icon-unrealengine: "\ec80";
$icon-unsplash: "\ec81";
$icon-untappd: "\ec82";
$icon-upwork: "\ec83";
$icon-v: "\ec84";
$icon-v8: "\ec85";
$icon-vagrant: "\ec86";
$icon-valve: "\ec87";
$icon-veeam: "\ec88";
$icon-venmo: "\ec89";
$icon-verizon: "\ec8a";
$icon-viadeo: "\ec8b";
$icon-viber: "\ec8c";
$icon-vim: "\ec8d";
$icon-vimeo1: "\ec8e";
$icon-vine1: "\ec8f";
$icon-virb: "\ec90";
$icon-visa: "\ec91";
$icon-visualstudio: "\ec92";
$icon-visualstudiocode: "\ec93";
$icon-vk1: "\ec94";
$icon-vlcmediaplayer: "\ec95";
$icon-vodafone: "\ec96";
$icon-volkswagen: "\ec97";
$icon-vsco: "\ec98";
$icon-vue-dot-js: "\ec99";
$icon-w3c: "\ec9a";
$icon-wattpad: "\ec9b";
$icon-waze: "\ec9c";
$icon-weasyl: "\ec9d";
$icon-webauthn: "\ec9e";
$icon-webcomponents-dot-org: "\ec9f";
$icon-webmin: "\eca0";
$icon-webpack: "\eca1";
$icon-webstorm: "\eca2";
$icon-wechat: "\eca3";
$icon-whatsapp1: "\eca4";
$icon-wheniwork: "\eca5";
$icon-whitesource: "\eca6";
$icon-wii: "\eca7";
$icon-wiiu: "\eca8";
$icon-wikipedia1: "\eca9";
$icon-windows1: "\ecaa";
$icon-wire: "\ecab";
$icon-wireguard: "\ecac";
$icon-wish: "\ecad";
$icon-wix: "\ecae";
$icon-wolfram: "\ecaf";
$icon-wolframlanguage: "\ecb0";
$icon-wolframmathematica: "\ecb1";
$icon-wordpress1: "\ecb2";
$icon-workplace: "\ecb3";
$icon-wpengine: "\ecb4";
$icon-write-dot-as: "\ecb5";
$icon-x-dot-org: "\ecb6";
$icon-x-pack: "\ecb7";
$icon-xamarin: "\ecb8";
$icon-xbox: "\ecb9";
$icon-xcode: "\ecba";
$icon-xdadevelopers: "\ecbb";
$icon-xero: "\ecbc";
$icon-xfce: "\ecbd";
$icon-xiaomi: "\ecbe";
$icon-xing1: "\ecbf";
$icon-xmpp: "\ecc0";
$icon-xrp: "\ecc1";
$icon-xsplit: "\ecc2";
$icon-yahoo1: "\ecc3";
$icon-yamahacorporation: "\ecc4";
$icon-yamahamotorcorporation: "\ecc5";
$icon-yammer: "\ecc6";
$icon-yandex: "\ecc7";
$icon-yarn: "\ecc8";
$icon-ycombinator: "\ecc9";
$icon-yelp1: "\ecca";
$icon-youtube1: "\eccb";
$icon-zalando: "\eccc";
$icon-zapier: "\eccd";
$icon-zeit: "\ecce";
$icon-zend: "\eccf";
$icon-zendesk: "\ecd0";
$icon-zendframework: "\ecd1";
$icon-zeromq: "\ecd2";
$icon-zerply: "\ecd3";
$icon-zhihu: "\ecd4";
$icon-zillow: "\ecd5";
$icon-zingat: "\ecd6";
$icon-zoom: "\ecd7";
$icon-zorin: "\ecd8";
$icon-zulip: "\ecd9";
$icon-error: "\ecda";
$icon-error_outline: "\ecdb";
$icon-warning1: "\ecdc";
$icon-add_alert: "\ecdd";
$icon-notification_important: "\ecde";
$icon-album: "\ecdf";
$icon-av_timer: "\ece0";
$icon-closed_caption: "\ece1";
$icon-equalizer1: "\ece2";
$icon-explicit: "\ece3";
$icon-fast_forward: "\ece4";
$icon-fast_rewind: "\ece5";
$icon-games: "\ece6";
$icon-hearing: "\ece7";
$icon-high_quality: "\ece8";
$icon-loop3: "\ece9";
$icon-mic1: "\ecea";
$icon-mic_none: "\eceb";
$icon-mic_off: "\ecec";
$icon-movie: "\eced";
$icon-library_add: "\ecee";
$icon-library_books: "\ecef";
$icon-library_music: "\ecf0";
$icon-new_releases: "\ecf1";
$icon-not_interested: "\ecf2";
$icon-pause1: "\ecf3";
$icon-pause_circle_filled: "\ecf4";
$icon-pause_circle_outline: "\ecf5";
$icon-play_arrow: "\ecf6";
$icon-play_circle_filled: "\ecf7";
$icon-play_circle_outline: "\ecf8";
$icon-playlist_add: "\ecf9";
$icon-queue_music: "\ecfa";
$icon-radio: "\ecfb";
$icon-recent_actors: "\ecfc";
$icon-repeat: "\ecfd";
$icon-repeat_one: "\ecfe";
$icon-replay: "\ecff";
$icon-shuffle1: "\ed00";
$icon-skip_next: "\ed01";
$icon-skip_previous: "\ed02";
$icon-snooze: "\ed03";
$icon-stop1: "\ed04";
$icon-subtitles: "\ed05";
$icon-surround_sound: "\ed06";
$icon-video_library: "\ed07";
$icon-videocam: "\ed08";
$icon-videocam_off: "\ed09";
$icon-volume_down: "\ed0a";
$icon-volume_mute: "\ed0b";
$icon-volume_off: "\ed0c";
$icon-volume_up: "\ed0d";
$icon-web: "\ed0e";
$icon-hd: "\ed0f";
$icon-sort_by_alpha: "\ed10";
$icon-airplay: "\ed11";
$icon-forward_10: "\ed12";
$icon-forward_30: "\ed13";
$icon-forward_5: "\ed14";
$icon-replay_10: "\ed15";
$icon-replay_30: "\ed16";
$icon-replay_5: "\ed17";
$icon-add_to_queue: "\ed18";
$icon-fiber_dvr: "\ed19";
$icon-fiber_new: "\ed1a";
$icon-playlist_play: "\ed1b";
$icon-art_track: "\ed1c";
$icon-fiber_manual_record: "\ed1d";
$icon-fiber_smart_record: "\ed1e";
$icon-music_video: "\ed1f";
$icon-subscriptions: "\ed20";
$icon-playlist_add_check: "\ed21";
$icon-queue_play_next: "\ed22";
$icon-remove_from_queue: "\ed23";
$icon-slow_motion_video: "\ed24";
$icon-web_asset: "\ed25";
$icon-fiber_pin: "\ed26";
$icon-branding_watermark: "\ed27";
$icon-call_to_action: "\ed28";
$icon-featured_play_list: "\ed29";
$icon-featured_video: "\ed2a";
$icon-note: "\ed2b";
$icon-video_call: "\ed2c";
$icon-video_label: "\ed2d";
$icon-4k: "\ed2e";
$icon-missed_video_call: "\ed2f";
$icon-control_camera: "\ed30";
$icon-business: "\ed31";
$icon-call: "\ed32";
$icon-call_end: "\ed33";
$icon-call_made: "\ed34";
$icon-call_merge: "\ed35";
$icon-call_missed: "\ed36";
$icon-call_received: "\ed37";
$icon-call_split: "\ed38";
$icon-chat: "\ed39";
$icon-clear_all: "\ed3a";
$icon-comment: "\ed3b";
$icon-contacts: "\ed3c";
$icon-dialer_sip: "\ed3d";
$icon-dialpad: "\ed3e";
$icon-email: "\ed3f";
$icon-forum: "\ed40";
$icon-import_export: "\ed41";
$icon-invert_colors_off: "\ed42";
$icon-live_help: "\ed43";
$icon-location_off: "\ed44";
$icon-location_on: "\ed45";
$icon-message: "\ed46";
$icon-chat_bubble: "\ed47";
$icon-chat_bubble_outline: "\ed48";
$icon-no_sim: "\ed49";
$icon-phone1: "\ed4a";
$icon-portable_wifi_off: "\ed4b";
$icon-contact_phone: "\ed4c";
$icon-contact_mail: "\ed4d";
$icon-ring_volume: "\ed4e";
$icon-speaker_phone: "\ed4f";
$icon-stay_current_landscape: "\ed50";
$icon-stay_current_portrait: "\ed51";
$icon-swap_calls: "\ed52";
$icon-textsms: "\ed53";
$icon-voicemail: "\ed54";
$icon-vpn_key: "\ed55";
$icon-phonelink_erase: "\ed56";
$icon-phonelink_lock: "\ed57";
$icon-phonelink_ring: "\ed58";
$icon-phonelink_setup: "\ed59";
$icon-present_to_all: "\ed5a";
$icon-import_contacts: "\ed5b";
$icon-mail_outline: "\ed5c";
$icon-screen_share: "\ed5d";
$icon-stop_screen_share: "\ed5e";
$icon-call_missed_outgoing: "\ed5f";
$icon-rss_feed: "\ed60";
$icon-alternate_email: "\ed61";
$icon-mobile_screen_share: "\ed62";
$icon-add_call: "\ed63";
$icon-cancel_presentation: "\ed64";
$icon-pause_presentation: "\ed65";
$icon-unsubscribe: "\ed66";
$icon-cell_wifi: "\ed67";
$icon-sentiment_satisfied_alt: "\ed68";
$icon-list_alt: "\ed69";
$icon-domain_disabled: "\ed6a";
$icon-lightbulb: "\ed6b";
$icon-add: "\ed6c";
$icon-add_box: "\ed6d";
$icon-add_circle: "\ed6e";
$icon-add_circle_outline: "\ed6f";
$icon-archive: "\ed70";
$icon-backspace: "\ed71";
$icon-block: "\ed72";
$icon-clear: "\ed73";
$icon-content_copy: "\ed74";
$icon-content_cut: "\ed75";
$icon-content_paste: "\ed76";
$icon-create: "\ed77";
$icon-drafts: "\ed78";
$icon-filter_list: "\ed79";
$icon-flag1: "\ed7a";
$icon-forward1: "\ed7b";
$icon-gesture: "\ed7c";
$icon-inbox: "\ed7d";
$icon-link1: "\ed7e";
$icon-redo1: "\ed7f";
$icon-remove: "\ed80";
$icon-remove_circle: "\ed81";
$icon-remove_circle_outline: "\ed82";
$icon-reply1: "\ed83";
$icon-reply_all: "\ed84";
$icon-report: "\ed85";
$icon-save: "\ed86";
$icon-select_all: "\ed87";
$icon-send: "\ed88";
$icon-sort: "\ed89";
$icon-text_format: "\ed8a";
$icon-undo1: "\ed8b";
$icon-font_download: "\ed8c";
$icon-move_to_inbox: "\ed8d";
$icon-unarchive: "\ed8e";
$icon-next_week: "\ed8f";
$icon-weekend: "\ed90";
$icon-delete_sweep: "\ed91";
$icon-low_priority: "\ed92";
$icon-outlined_flag: "\ed93";
$icon-link_off: "\ed94";
$icon-report_off: "\ed95";
$icon-save_alt: "\ed96";
$icon-ballot: "\ed97";
$icon-file_copy: "\ed98";
$icon-how_to_reg: "\ed99";
$icon-how_to_vote: "\ed9a";
$icon-waves: "\ed9b";
$icon-where_to_vote: "\ed9c";
$icon-add_link: "\ed9d";
$icon-inventory: "\ed9e";
$icon-access_alarm: "\ed9f";
$icon-access_alarms: "\eda0";
$icon-access_time: "\eda1";
$icon-add_alarm: "\eda2";
$icon-airplanemode_off: "\eda3";
$icon-airplanemode_on: "\eda4";
$icon-battery_alert: "\eda5";
$icon-battery_charging_full: "\eda6";
$icon-battery_full: "\eda7";
$icon-battery_unknown: "\eda8";
$icon-bluetooth: "\eda9";
$icon-bluetooth_connected: "\edaa";
$icon-bluetooth_disabled: "\edab";
$icon-bluetooth_searching: "\edac";
$icon-brightness_auto: "\edad";
$icon-brightness_high: "\edae";
$icon-brightness_low: "\edaf";
$icon-brightness_medium: "\edb0";
$icon-data_usage: "\edb1";
$icon-developer_mode: "\edb2";
$icon-devices: "\edb3";
$icon-dvr: "\edb4";
$icon-gps_fixed: "\edb5";
$icon-gps_not_fixed: "\edb6";
$icon-gps_off: "\edb7";
$icon-graphic_eq: "\edb8";
$icon-network_cell: "\edb9";
$icon-network_wifi: "\edba";
$icon-nfc: "\edbb";
$icon-now_wallpaper: "\edbc";
$icon-now_widgets: "\edbd";
$icon-screen_lock_landscape: "\edbe";
$icon-screen_lock_portrait: "\edbf";
$icon-screen_lock_rotation: "\edc0";
$icon-screen_rotation: "\edc1";
$icon-sd_storage: "\edc2";
$icon-settings_system_daydream: "\edc3";
$icon-signal_cellular_4_bar: "\edc4";
$icon-signal_cellular_connected_no_internet_4_bar: "\edc5";
$icon-signal_cellular_null: "\edc6";
$icon-signal_cellular_off: "\edc7";
$icon-signal_wifi_4_bar: "\edc8";
$icon-signal_wifi_4_bar_lock: "\edc9";
$icon-signal_wifi_off: "\edca";
$icon-storage: "\edcb";
$icon-usb: "\edcc";
$icon-wifi_lock: "\edcd";
$icon-wifi_tethering: "\edce";
$icon-add_to_home_screen: "\edcf";
$icon-device_thermostat: "\edd0";
$icon-mobile_friendly: "\edd1";
$icon-mobile_off: "\edd2";
$icon-signal_cellular_alt: "\edd3";
$icon-attach_file: "\edd4";
$icon-attach_money: "\edd5";
$icon-border_all: "\edd6";
$icon-border_bottom: "\edd7";
$icon-border_clear: "\edd8";
$icon-border_color: "\edd9";
$icon-border_horizontal: "\edda";
$icon-border_inner: "\eddb";
$icon-border_left: "\eddc";
$icon-border_outer: "\eddd";
$icon-border_right: "\edde";
$icon-border_style: "\eddf";
$icon-border_top: "\ede0";
$icon-border_vertical: "\ede1";
$icon-format_align_center: "\ede2";
$icon-format_align_justify: "\ede3";
$icon-format_align_left: "\ede4";
$icon-format_align_right: "\ede5";
$icon-format_bold: "\ede6";
$icon-format_clear: "\ede7";
$icon-format_color_fill: "\ede8";
$icon-format_color_reset: "\ede9";
$icon-format_color_text: "\edea";
$icon-format_indent_decrease: "\edeb";
$icon-format_indent_increase: "\edec";
$icon-format_italic: "\eded";
$icon-format_line_spacing: "\edee";
$icon-format_list_bulleted: "\edef";
$icon-format_list_numbered: "\edf0";
$icon-format_paint: "\edf1";
$icon-format_quote: "\edf2";
$icon-format_size: "\edf3";
$icon-format_strikethrough: "\edf4";
$icon-format_textdirection_l_to_r: "\edf5";
$icon-format_textdirection_r_to_l: "\edf6";
$icon-format_underlined: "\edf7";
$icon-functions: "\edf8";
$icon-insert_chart: "\edf9";
$icon-insert_comment: "\edfa";
$icon-insert_drive_file: "\edfb";
$icon-insert_emoticon: "\edfc";
$icon-insert_invitation: "\edfd";
$icon-insert_photo: "\edfe";
$icon-mode_comment: "\edff";
$icon-publish: "\ee00";
$icon-space_bar: "\ee01";
$icon-strikethrough_s: "\ee02";
$icon-vertical_align_bottom: "\ee03";
$icon-vertical_align_center: "\ee04";
$icon-vertical_align_top: "\ee05";
$icon-wrap_text: "\ee06";
$icon-money_off: "\ee07";
$icon-drag_handle: "\ee08";
$icon-format_shapes: "\ee09";
$icon-highlight: "\ee0a";
$icon-linear_scale: "\ee0b";
$icon-short_text: "\ee0c";
$icon-text_fields: "\ee0d";
$icon-monetization_on: "\ee0e";
$icon-title: "\ee0f";
$icon-table_chart: "\ee10";
$icon-add_comment: "\ee11";
$icon-format_list_numbered_rtl: "\ee12";
$icon-scatter_plot: "\ee13";
$icon-score: "\ee14";
$icon-insert_chart_outlined: "\ee15";
$icon-bar_chart: "\ee16";
$icon-notes: "\ee17";
$icon-attachment1: "\ee18";
$icon-cloud1: "\ee19";
$icon-cloud_circle: "\ee1a";
$icon-cloud_done: "\ee1b";
$icon-cloud_download: "\ee1c";
$icon-cloud_off: "\ee1d";
$icon-cloud_queue: "\ee1e";
$icon-cloud_upload: "\ee1f";
$icon-file_download: "\ee20";
$icon-file_upload: "\ee21";
$icon-folder1: "\ee22";
$icon-folder_open: "\ee23";
$icon-folder_shared: "\ee24";
$icon-create_new_folder: "\ee25";
$icon-cast: "\ee26";
$icon-cast_connected: "\ee27";
$icon-computer: "\ee28";
$icon-desktop_mac: "\ee29";
$icon-desktop_windows: "\ee2a";
$icon-developer_board: "\ee2b";
$icon-dock: "\ee2c";
$icon-headset: "\ee2d";
$icon-headset_mic: "\ee2e";
$icon-keyboard1: "\ee2f";
$icon-keyboard_arrow_down: "\ee30";
$icon-keyboard_arrow_left: "\ee31";
$icon-keyboard_arrow_right: "\ee32";
$icon-keyboard_arrow_up: "\ee33";
$icon-keyboard_backspace: "\ee34";
$icon-keyboard_capslock: "\ee35";
$icon-keyboard_hide: "\ee36";
$icon-keyboard_return: "\ee37";
$icon-keyboard_tab: "\ee38";
$icon-keyboard_voice: "\ee39";
$icon-laptop_chromebook: "\ee3a";
$icon-laptop_mac: "\ee3b";
$icon-laptop_windows: "\ee3c";
$icon-memory: "\ee3d";
$icon-mouse: "\ee3e";
$icon-phone_android: "\ee3f";
$icon-phone_iphone: "\ee40";
$icon-phonelink_off: "\ee41";
$icon-router: "\ee42";
$icon-scanner: "\ee43";
$icon-security: "\ee44";
$icon-sim_card: "\ee45";
$icon-speaker: "\ee46";
$icon-speaker_group: "\ee47";
$icon-tablet1: "\ee48";
$icon-tablet_android: "\ee49";
$icon-tablet_mac: "\ee4a";
$icon-toys: "\ee4b";
$icon-tv1: "\ee4c";
$icon-watch: "\ee4d";
$icon-device_hub: "\ee4e";
$icon-power_input: "\ee4f";
$icon-devices_other: "\ee50";
$icon-videogame_asset: "\ee51";
$icon-device_unknown: "\ee52";
$icon-headset_off: "\ee53";
$icon-adjust: "\ee54";
$icon-assistant: "\ee55";
$icon-audiotrack: "\ee56";
$icon-blur_circular: "\ee57";
$icon-blur_linear: "\ee58";
$icon-blur_off: "\ee59";
$icon-blur_on: "\ee5a";
$icon-brightness_1: "\ee5b";
$icon-brightness_2: "\ee5c";
$icon-brightness_3: "\ee5d";
$icon-brightness_4: "\ee5e";
$icon-broken_image: "\ee5f";
$icon-brush: "\ee60";
$icon-camera1: "\ee61";
$icon-camera_alt: "\ee62";
$icon-camera_front: "\ee63";
$icon-camera_rear: "\ee64";
$icon-camera_roll: "\ee65";
$icon-center_focus_strong: "\ee66";
$icon-center_focus_weak: "\ee67";
$icon-collections: "\ee68";
$icon-color_lens: "\ee69";
$icon-colorize: "\ee6a";
$icon-compare: "\ee6b";
$icon-control_point_duplicate: "\ee6c";
$icon-crop_16_9: "\ee6d";
$icon-crop_3_2: "\ee6e";
$icon-crop1: "\ee6f";
$icon-crop_5_4: "\ee70";
$icon-crop_7_5: "\ee71";
$icon-crop_din: "\ee72";
$icon-crop_free: "\ee73";
$icon-crop_original: "\ee74";
$icon-crop_portrait: "\ee75";
$icon-crop_square: "\ee76";
$icon-dehaze: "\ee77";
$icon-details: "\ee78";
$icon-exposure: "\ee79";
$icon-exposure_neg_1: "\ee7a";
$icon-exposure_neg_2: "\ee7b";
$icon-exposure_plus_1: "\ee7c";
$icon-exposure_plus_2: "\ee7d";
$icon-exposure_zero: "\ee7e";
$icon-filter_1: "\ee7f";
$icon-filter_2: "\ee80";
$icon-filter_3: "\ee81";
$icon-filter1: "\ee82";
$icon-filter_4: "\ee83";
$icon-filter_5: "\ee84";
$icon-filter_6: "\ee85";
$icon-filter_7: "\ee86";
$icon-filter_8: "\ee87";
$icon-filter_9: "\ee88";
$icon-filter_9_plus: "\ee89";
$icon-filter_b_and_w: "\ee8a";
$icon-filter_center_focus: "\ee8b";
$icon-filter_drama: "\ee8c";
$icon-filter_frames: "\ee8d";
$icon-filter_hdr: "\ee8e";
$icon-filter_none: "\ee8f";
$icon-filter_tilt_shift: "\ee90";
$icon-filter_vintage: "\ee91";
$icon-flare: "\ee92";
$icon-flash_auto: "\ee93";
$icon-flash_off: "\ee94";
$icon-flash_on: "\ee95";
$icon-flip: "\ee96";
$icon-gradient: "\ee97";
$icon-grain: "\ee98";
$icon-grid_off: "\ee99";
$icon-grid_on: "\ee9a";
$icon-hdr_off: "\ee9b";
$icon-hdr_on: "\ee9c";
$icon-hdr_strong: "\ee9d";
$icon-hdr_weak: "\ee9e";
$icon-healing: "\ee9f";
$icon-image_aspect_ratio: "\eea0";
$icon-iso: "\eea1";
$icon-leak_add: "\eea2";
$icon-leak_remove: "\eea3";
$icon-lens: "\eea4";
$icon-looks_3: "\eea5";
$icon-looks: "\eea6";
$icon-looks_4: "\eea7";
$icon-looks_5: "\eea8";
$icon-looks_6: "\eea9";
$icon-looks_one: "\eeaa";
$icon-looks_two: "\eeab";
$icon-loupe: "\eeac";
$icon-monochrome_photos: "\eead";
$icon-music_note: "\eeae";
$icon-nature: "\eeaf";
$icon-nature_people: "\eeb0";
$icon-navigate_before: "\eeb1";
$icon-navigate_next: "\eeb2";
$icon-panorama: "\eeb3";
$icon-panorama_fisheye: "\eeb4";
$icon-panorama_horizontal: "\eeb5";
$icon-panorama_vertical: "\eeb6";
$icon-panorama_wide_angle: "\eeb7";
$icon-photo_album: "\eeb8";
$icon-picture_as_pdf: "\eeb9";
$icon-portrait: "\eeba";
$icon-remove_red_eye: "\eebb";
$icon-rotate_90_degrees_ccw: "\eebc";
$icon-rotate_left: "\eebd";
$icon-rotate_right: "\eebe";
$icon-slideshow: "\eebf";
$icon-straighten: "\eec0";
$icon-style: "\eec1";
$icon-switch_camera: "\eec2";
$icon-switch_video: "\eec3";
$icon-texture: "\eec4";
$icon-timelapse: "\eec5";
$icon-timer_10: "\eec6";
$icon-timer_3: "\eec7";
$icon-timer: "\eec8";
$icon-timer_off: "\eec9";
$icon-tonality: "\eeca";
$icon-transform: "\eecb";
$icon-tune: "\eecc";
$icon-view_comfy: "\eecd";
$icon-view_compact: "\eece";
$icon-wb_auto: "\eecf";
$icon-wb_cloudy: "\eed0";
$icon-wb_incandescent: "\eed1";
$icon-wb_sunny: "\eed2";
$icon-collections_bookmark: "\eed3";
$icon-photo_size_select_actual: "\eed4";
$icon-photo_size_select_large: "\eed5";
$icon-photo_size_select_small: "\eed6";
$icon-vignette: "\eed7";
$icon-wb_iridescent: "\eed8";
$icon-crop_rotate: "\eed9";
$icon-linked_camera: "\eeda";
$icon-add_a_photo: "\eedb";
$icon-movie_filter: "\eedc";
$icon-photo_filter: "\eedd";
$icon-burst_mode: "\eede";
$icon-shutter_speed: "\eedf";
$icon-add_photo_alternate: "\eee0";
$icon-image_search: "\eee1";
$icon-music_off: "\eee2";
$icon-beenhere: "\eee3";
$icon-directions: "\eee4";
$icon-directions_bike: "\eee5";
$icon-directions_bus: "\eee6";
$icon-directions_car: "\eee7";
$icon-directions_ferry: "\eee8";
$icon-directions_subway: "\eee9";
$icon-directions_train: "\eeea";
$icon-directions_walk: "\eeeb";
$icon-hotel: "\eeec";
$icon-layers: "\eeed";
$icon-layers_clear: "\eeee";
$icon-local_atm: "\eeef";
$icon-local_attraction: "\eef0";
$icon-local_bar: "\eef1";
$icon-local_cafe: "\eef2";
$icon-local_car_wash: "\eef3";
$icon-local_convenience_store: "\eef4";
$icon-local_drink: "\eef5";
$icon-local_florist: "\eef6";
$icon-local_gas_station: "\eef7";
$icon-local_grocery_store: "\eef8";
$icon-local_hospital: "\eef9";
$icon-local_laundry_service: "\eefa";
$icon-local_library: "\eefb";
$icon-local_mall: "\eefc";
$icon-local_movies: "\eefd";
$icon-local_offer: "\eefe";
$icon-local_parking: "\eeff";
$icon-local_pharmacy: "\ef00";
$icon-local_pizza: "\ef01";
$icon-local_printshop: "\ef02";
$icon-local_restaurant: "\ef03";
$icon-local_shipping: "\ef04";
$icon-local_taxi: "\ef05";
$icon-location_history: "\ef06";
$icon-map1: "\ef07";
$icon-navigation: "\ef08";
$icon-pin_drop: "\ef09";
$icon-rate_review: "\ef0a";
$icon-satellite: "\ef0b";
$icon-store_mall_directory: "\ef0c";
$icon-traffic: "\ef0d";
$icon-directions_run: "\ef0e";
$icon-add_location: "\ef0f";
$icon-edit_location: "\ef10";
$icon-near_me: "\ef11";
$icon-person_pin_circle: "\ef12";
$icon-zoom_out_map: "\ef13";
$icon-restaurant: "\ef14";
$icon-ev_station: "\ef15";
$icon-streetview: "\ef16";
$icon-subway: "\ef17";
$icon-train: "\ef18";
$icon-tram: "\ef19";
$icon-transfer_within_a_station: "\ef1a";
$icon-atm: "\ef1b";
$icon-category: "\ef1c";
$icon-not_listed_location: "\ef1d";
$icon-departure_board: "\ef1e";
$icon-360: "\ef1f";
$icon-edit_attributes: "\ef20";
$icon-transit_enterexit: "\ef21";
$icon-fastfood: "\ef22";
$icon-trip_origin: "\ef23";
$icon-compass_calibration: "\ef24";
$icon-money: "\ef25";
$icon-apps: "\ef26";
$icon-arrow_back: "\ef27";
$icon-arrow_drop_down: "\ef28";
$icon-arrow_drop_down_circle: "\ef29";
$icon-arrow_drop_up: "\ef2a";
$icon-arrow_forward: "\ef2b";
$icon-cancel: "\ef2c";
$icon-check: "\ef2d";
$icon-expand_less: "\ef2e";
$icon-expand_more: "\ef2f";
$icon-fullscreen: "\ef30";
$icon-fullscreen_exit: "\ef31";
$icon-menu1: "\ef32";
$icon-keyboard_control: "\ef33";
$icon-more_vert: "\ef34";
$icon-refresh: "\ef35";
$icon-unfold_less: "\ef36";
$icon-unfold_more: "\ef37";
$icon-arrow_upward: "\ef38";
$icon-subdirectory_arrow_left: "\ef39";
$icon-subdirectory_arrow_right: "\ef3a";
$icon-arrow_downward: "\ef3b";
$icon-first_page: "\ef3c";
$icon-last_page: "\ef3d";
$icon-arrow_left: "\ef3e";
$icon-arrow_right: "\ef3f";
$icon-arrow_back_ios: "\ef40";
$icon-arrow_forward_ios: "\ef41";
$icon-adb: "\ef42";
$icon-disc_full: "\ef43";
$icon-do_not_disturb_alt: "\ef44";
$icon-drive_eta: "\ef45";
$icon-event_available: "\ef46";
$icon-event_busy: "\ef47";
$icon-event_note: "\ef48";
$icon-folder_special: "\ef49";
$icon-mms: "\ef4a";
$icon-more: "\ef4b";
$icon-network_locked: "\ef4c";
$icon-phone_bluetooth_speaker: "\ef4d";
$icon-phone_forwarded: "\ef4e";
$icon-phone_in_talk: "\ef4f";
$icon-phone_locked: "\ef50";
$icon-phone_missed: "\ef51";
$icon-phone_paused: "\ef52";
$icon-sim_card_alert: "\ef53";
$icon-sms_failed: "\ef54";
$icon-sync_disabled: "\ef55";
$icon-sync_problem: "\ef56";
$icon-system_update: "\ef57";
$icon-tap_and_play: "\ef58";
$icon-vibration: "\ef59";
$icon-voice_chat: "\ef5a";
$icon-vpn_lock: "\ef5b";
$icon-airline_seat_flat: "\ef5c";
$icon-airline_seat_flat_angled: "\ef5d";
$icon-airline_seat_individual_suite: "\ef5e";
$icon-airline_seat_legroom_extra: "\ef5f";
$icon-airline_seat_legroom_normal: "\ef60";
$icon-airline_seat_legroom_reduced: "\ef61";
$icon-airline_seat_recline_extra: "\ef62";
$icon-airline_seat_recline_normal: "\ef63";
$icon-confirmation_number: "\ef64";
$icon-live_tv: "\ef65";
$icon-ondemand_video: "\ef66";
$icon-personal_video: "\ef67";
$icon-power1: "\ef68";
$icon-wc: "\ef69";
$icon-wifi: "\ef6a";
$icon-enhanced_encryption: "\ef6b";
$icon-network_check: "\ef6c";
$icon-no_encryption: "\ef6d";
$icon-rv_hookup: "\ef6e";
$icon-do_not_disturb_off: "\ef6f";
$icon-priority_high: "\ef70";
$icon-power_off: "\ef71";
$icon-tv_off: "\ef72";
$icon-wifi_off: "\ef73";
$icon-phone_callback: "\ef74";
$icon-pie_chart: "\ef75";
$icon-pie_chart_outlined: "\ef76";
$icon-bubble_chart: "\ef77";
$icon-multiline_chart: "\ef78";
$icon-show_chart: "\ef79";
$icon-cake: "\ef7a";
$icon-group: "\ef7b";
$icon-group_add: "\ef7c";
$icon-location_city: "\ef7d";
$icon-mood_bad: "\ef7e";
$icon-notifications: "\ef7f";
$icon-notifications_none: "\ef80";
$icon-notifications_off: "\ef81";
$icon-notifications_on: "\ef82";
$icon-notifications_paused: "\ef83";
$icon-pages: "\ef84";
$icon-party_mode: "\ef85";
$icon-people_outline: "\ef86";
$icon-person: "\ef87";
$icon-person_add: "\ef88";
$icon-person_outline: "\ef89";
$icon-plus_one: "\ef8a";
$icon-public: "\ef8b";
$icon-school: "\ef8c";
$icon-share1: "\ef8d";
$icon-whatshot: "\ef8e";
$icon-sentiment_dissatisfied: "\ef8f";
$icon-sentiment_neutral: "\ef90";
$icon-sentiment_satisfied: "\ef91";
$icon-sentiment_very_dissatisfied: "\ef92";
$icon-sentiment_very_satisfied: "\ef93";
$icon-thumb_down_alt: "\ef94";
$icon-thumb_up_alt: "\ef95";
$icon-check_box: "\ef96";
$icon-check_box_outline_blank: "\ef97";
$icon-radio_button_on: "\ef98";
$icon-star: "\ef99";
$icon-star_half: "\ef9a";
$icon-star_outline: "\ef9b";
$icon-3d_rotation: "\ef9c";
$icon-accessibility1: "\ef9d";
$icon-account_balance: "\ef9e";
$icon-account_balance_wallet: "\ef9f";
$icon-account_box: "\efa0";
$icon-account_circle: "\efa1";
$icon-add_shopping_cart: "\efa2";
$icon-alarm_off: "\efa3";
$icon-alarm_on: "\efa4";
$icon-android2: "\efa5";
$icon-announcement: "\efa6";
$icon-aspect_ratio: "\efa7";
$icon-assignment: "\efa8";
$icon-assignment_ind: "\efa9";
$icon-assignment_late: "\efaa";
$icon-assignment_return: "\efab";
$icon-assignment_returned: "\efac";
$icon-assignment_turned_in: "\efad";
$icon-autorenew: "\efae";
$icon-book1: "\efaf";
$icon-bookmark1: "\efb0";
$icon-bookmark_outline: "\efb1";
$icon-bug_report: "\efb2";
$icon-build: "\efb3";
$icon-cached: "\efb4";
$icon-change_history: "\efb5";
$icon-check_circle: "\efb6";
$icon-chrome_reader_mode: "\efb7";
$icon-code: "\efb8";
$icon-credit_card: "\efb9";
$icon-dashboard: "\efba";
$icon-delete: "\efbb";
$icon-description: "\efbc";
$icon-dns: "\efbd";
$icon-done: "\efbe";
$icon-done_all: "\efbf";
$icon-exit_to_app: "\efc0";
$icon-explore: "\efc1";
$icon-extension: "\efc2";
$icon-face: "\efc3";
$icon-favorite: "\efc4";
$icon-favorite_outline: "\efc5";
$icon-find_in_page: "\efc6";
$icon-find_replace: "\efc7";
$icon-flip_to_back: "\efc8";
$icon-flip_to_front: "\efc9";
$icon-group_work: "\efca";
$icon-help: "\efcb";
$icon-highlight_remove: "\efcc";
$icon-history1: "\efcd";
$icon-home1: "\efce";
$icon-hourglass_empty: "\efcf";
$icon-hourglass_full: "\efd0";
$icon-https: "\efd1";
$icon-info1: "\efd2";
$icon-info_outline: "\efd3";
$icon-input: "\efd4";
$icon-invert_colors_on: "\efd5";
$icon-label: "\efd6";
$icon-label_outline: "\efd7";
$icon-language: "\efd8";
$icon-launch: "\efd9";
$icon-list1: "\efda";
$icon-lock_open: "\efdb";
$icon-lock_outline: "\efdc";
$icon-loyalty: "\efdd";
$icon-markunread_mailbox: "\efde";
$icon-note_add: "\efdf";
$icon-open_in_browser: "\efe0";
$icon-open_with: "\efe1";
$icon-pageview: "\efe2";
$icon-perm_camera_mic: "\efe3";
$icon-perm_contact_calendar: "\efe4";
$icon-perm_data_setting: "\efe5";
$icon-perm_device_information: "\efe6";
$icon-perm_media: "\efe7";
$icon-perm_phone_msg: "\efe8";
$icon-perm_scan_wifi: "\efe9";
$icon-picture_in_picture: "\efea";
$icon-polymer: "\efeb";
$icon-power_settings_new: "\efec";
$icon-receipt: "\efed";
$icon-redeem: "\efee";
$icon-search1: "\efef";
$icon-settings: "\eff0";
$icon-settings_applications: "\eff1";
$icon-settings_backup_restore: "\eff2";
$icon-settings_bluetooth: "\eff3";
$icon-settings_cell: "\eff4";
$icon-settings_display: "\eff5";
$icon-settings_ethernet: "\eff6";
$icon-settings_input_antenna: "\eff7";
$icon-settings_input_component: "\eff8";
$icon-settings_input_hdmi: "\eff9";
$icon-settings_input_svideo: "\effa";
$icon-settings_overscan: "\effb";
$icon-settings_phone: "\effc";
$icon-settings_power: "\effd";
$icon-settings_remote: "\effe";
$icon-settings_voice: "\efff";
$icon-shop: "\f000";
$icon-shop_two: "\f001";
$icon-shopping_basket: "\f002";
$icon-speaker_notes: "\f003";
$icon-spellcheck: "\f004";
$icon-stars: "\f005";
$icon-subject: "\f006";
$icon-supervisor_account: "\f007";
$icon-swap_horiz: "\f008";
$icon-swap_vert: "\f009";
$icon-swap_vertical_circle: "\f00a";
$icon-system_update_tv: "\f00b";
$icon-tab1: "\f00c";
$icon-tab_unselected: "\f00d";
$icon-thumb_down: "\f00e";
$icon-thumb_up: "\f00f";
$icon-thumbs_up_down: "\f010";
$icon-toc: "\f011";
$icon-today: "\f012";
$icon-toll: "\f013";
$icon-track_changes: "\f014";
$icon-translate: "\f015";
$icon-trending_down: "\f016";
$icon-trending_neutral: "\f017";
$icon-trending_up: "\f018";
$icon-verified_user: "\f019";
$icon-view_agenda: "\f01a";
$icon-view_array: "\f01b";
$icon-view_carousel: "\f01c";
$icon-view_column: "\f01d";
$icon-view_day: "\f01e";
$icon-view_headline: "\f01f";
$icon-view_list: "\f020";
$icon-view_module: "\f021";
$icon-view_quilt: "\f022";
$icon-view_stream: "\f023";
$icon-view_week: "\f024";
$icon-visibility_off: "\f025";
$icon-card_membership: "\f026";
$icon-card_travel: "\f027";
$icon-work: "\f028";
$icon-youtube_searched_for: "\f029";
$icon-eject1: "\f02a";
$icon-camera_enhance: "\f02b";
$icon-help_outline: "\f02c";
$icon-reorder: "\f02d";
$icon-zoom_in: "\f02e";
$icon-zoom_out: "\f02f";
$icon-http: "\f030";
$icon-event_seat: "\f031";
$icon-flight_land: "\f032";
$icon-flight_takeoff: "\f033";
$icon-play_for_work: "\f034";
$icon-gif: "\f035";
$icon-indeterminate_check_box: "\f036";
$icon-offline_pin: "\f037";
$icon-all_out: "\f038";
$icon-copyright: "\f039";
$icon-fingerprint: "\f03a";
$icon-gavel: "\f03b";
$icon-lightbulb_outline: "\f03c";
$icon-picture_in_picture_alt: "\f03d";
$icon-important_devices: "\f03e";
$icon-touch_app: "\f03f";
$icon-accessible: "\f040";
$icon-compare_arrows: "\f041";
$icon-date_range: "\f042";
$icon-donut_large: "\f043";
$icon-donut_small: "\f044";
$icon-line_style: "\f045";
$icon-line_weight: "\f046";
$icon-motorcycle: "\f047";
$icon-opacity: "\f048";
$icon-pets: "\f049";
$icon-pregnant_woman: "\f04a";
$icon-record_voice_over: "\f04b";
$icon-rounded_corner: "\f04c";
$icon-rowing: "\f04d";
$icon-timeline: "\f04e";
$icon-update: "\f04f";
$icon-watch_later: "\f050";
$icon-pan_tool: "\f051";
$icon-euro_symbol: "\f052";
$icon-g_translate: "\f053";
$icon-remove_shopping_cart: "\f054";
$icon-restore_page: "\f055";
$icon-speaker_notes_off: "\f056";
$icon-delete_forever: "\f057";
$icon-accessibility_new: "\f058";
$icon-check_circle_outline: "\f059";
$icon-delete_outline: "\f05a";
$icon-done_outline: "\f05b";
$icon-maximize: "\f05c";
$icon-minimize: "\f05d";
$icon-offline_bolt: "\f05e";
$icon-swap_horizontal_circle: "\f05f";
$icon-accessible_forward: "\f060";
$icon-calendar_today: "\f061";
$icon-calendar_view_day: "\f062";
$icon-label_important: "\f063";
$icon-restore_from_trash: "\f064";
$icon-supervised_user_circle: "\f065";
$icon-text_rotate_up: "\f066";
$icon-text_rotate_vertical: "\f067";
$icon-text_rotation_angledown: "\f068";
$icon-text_rotation_angleup: "\f069";
$icon-text_rotation_down: "\f06a";
$icon-text_rotation_none: "\f06b";
$icon-commute: "\f06c";
$icon-arrow_right_alt: "\f06d";
$icon-work_off: "\f06e";
$icon-work_outline: "\f06f";
$icon-drag_indicator: "\f070";
$icon-horizontal_split: "\f071";
$icon-label_important_outline: "\f072";
$icon-vertical_split: "\f073";
$icon-voice_over_off: "\f074";
$icon-segment: "\f075";
$icon-contact_support: "\f076";
$icon-compress: "\f077";
$icon-filter_list_alt: "\f078";
$icon-expand: "\f079";
$icon-edit_off: "\f07a";
$icon-10k: "\f07b";
$icon-10mp: "\f07c";
$icon-11mp: "\f07d";
$icon-12mp: "\f07e";
$icon-13mp: "\f07f";
$icon-14mp: "\f080";
$icon-15mp: "\f081";
$icon-16mp: "\f082";
$icon-17mp: "\f083";
$icon-18mp: "\f084";
$icon-19mp: "\f085";
$icon-1k: "\f086";
$icon-1k_plus: "\f087";
$icon-20mp: "\f088";
$icon-21mp: "\f089";
$icon-22mp: "\f08a";
$icon-23mp: "\f08b";
$icon-24mp: "\f08c";
$icon-2k: "\f08d";
$icon-2k_plus: "\f08e";
$icon-2mp: "\f08f";
$icon-3k: "\f090";
$icon-3k_plus: "\f091";
$icon-3mp: "\f092";
$icon-4k_plus: "\f093";
$icon-4mp: "\f094";
$icon-5k: "\f095";
$icon-5k_plus: "\f096";
$icon-5mp: "\f097";
$icon-6k: "\f098";
$icon-6k_plus: "\f099";
$icon-6mp: "\f09a";
$icon-7k: "\f09b";
$icon-7k_plus: "\f09c";
$icon-7mp: "\f09d";
$icon-8k: "\f09e";
$icon-8k_plus: "\f09f";
$icon-8mp: "\f0a0";
$icon-9k: "\f0a1";
$icon-9k_plus: "\f0a2";
$icon-9mp: "\f0a3";
$icon-account_tree: "\f0a4";
$icon-add_chart: "\f0a5";
$icon-add_ic_call: "\f0a6";
$icon-add_moderator: "\f0a7";
$icon-all_inbox: "\f0a8";
$icon-approval: "\f0a9";
$icon-assistant_direction: "\f0aa";
$icon-assistant_navigation: "\f0ab";
$icon-bookmarks1: "\f0ac";
$icon-bus_alert: "\f0ad";
$icon-cases: "\f0ae";
$icon-circle_notifications: "\f0af";
$icon-closed_caption_off: "\f0b0";
$icon-connected_tv: "\f0b1";
$icon-dangerous: "\f0b2";
$icon-dashboard_customize: "\f0b3";
$icon-desktop_access_disabled: "\f0b4";
$icon-drive_file_move_outline: "\f0b5";
$icon-drive_file_rename_outline: "\f0b6";
$icon-drive_folder_upload: "\f0b7";
$icon-duo: "\f0b8";
$icon-explore_off: "\f0b9";
$icon-file_download_done: "\f0ba";
$icon-rtt: "\f0bb";
$icon-grid_view: "\f0bc";
$icon-hail: "\f0bd";
$icon-home_filled: "\f0be";
$icon-imagesearch_roller: "\f0bf";
$icon-label_off: "\f0c0";
$icon-library_add_check: "\f0c1";
$icon-logout: "\f0c2";
$icon-margin: "\f0c3";
$icon-mark_as_unread: "\f0c4";
$icon-menu_open: "\f0c5";
$icon-mp: "\f0c6";
$icon-offline_share: "\f0c7";
$icon-padding: "\f0c8";
$icon-panorama_photosphere: "\f0c9";
$icon-panorama_photosphere_select: "\f0ca";
$icon-person_add_disabled: "\f0cb";
$icon-phone_disabled: "\f0cc";
$icon-phone_enabled: "\f0cd";
$icon-pivot_table_chart: "\f0ce";
$icon-print_disabled: "\f0cf";
$icon-railway_alert: "\f0d0";
$icon-recommend: "\f0d1";
$icon-remove_done: "\f0d2";
$icon-remove_moderator: "\f0d3";
$icon-repeat_on: "\f0d4";
$icon-repeat_one_on: "\f0d5";
$icon-replay_circle_filled: "\f0d6";
$icon-reset_tv: "\f0d7";
$icon-sd: "\f0d8";
$icon-shield1: "\f0d9";
$icon-shuffle_on: "\f0da";
$icon-speed: "\f0db";
$icon-stacked_bar_chart: "\f0dc";
$icon-stream: "\f0dd";
$icon-swipe: "\f0de";
$icon-switch_account: "\f0df";
$icon-tag: "\f0e0";
$icon-thumb_down_off_alt: "\f0e1";
$icon-thumb_up_off_alt: "\f0e2";
$icon-toggle_off: "\f0e3";
$icon-toggle_on: "\f0e4";
$icon-two_wheeler: "\f0e5";
$icon-upload_file: "\f0e6";
$icon-view_in_ar: "\f0e7";
$icon-waterfall_chart: "\f0e8";
$icon-wb_shade: "\f0e9";
$icon-wb_twighlight: "\f0ea";
$icon-home_work: "\f0eb";
$icon-schedule_send: "\f0ec";
$icon-bolt: "\f0ed";
$icon-send_and_archive: "\f0ee";
$icon-workspaces_filled: "\f0ef";
$icon-file_present: "\f0f0";
$icon-workspaces_outline: "\f0f1";
$icon-fit_screen: "\f0f2";
$icon-saved_search: "\f0f3";
$icon-storefront: "\f0f4";
$icon-amp_stories: "\f0f5";
$icon-dynamic_feed: "\f0f6";
$icon-euro: "\f0f7";
$icon-height: "\f0f8";
$icon-policy: "\f0f9";
$icon-sync_alt: "\f0fa";
$icon-menu_book: "\f0fb";
$icon-emoji_flags: "\f0fc";
$icon-emoji_food_beverage: "\f0fd";
$icon-emoji_nature: "\f0fe";
$icon-emoji_people: "\f0ff";
$icon-emoji_symbols: "\f100";
$icon-emoji_transportation: "\f101";
$icon-post_add: "\f102";
$icon-people_alt: "\f103";
$icon-emoji_emotions: "\f104";
$icon-emoji_events: "\f105";
$icon-emoji_objects: "\f106";
$icon-sports_basketball: "\f107";
$icon-sports_cricket: "\f108";
$icon-sports_esports: "\f109";
$icon-sports_football: "\f10a";
$icon-sports_golf: "\f10b";
$icon-sports_hockey: "\f10c";
$icon-sports_mma: "\f10d";
$icon-sports_motorsports: "\f10e";
$icon-sports_rugby: "\f10f";
$icon-sports_soccer: "\f110";
$icon-sports: "\f111";
$icon-sports_volleyball: "\f112";
$icon-sports_tennis: "\f113";
$icon-sports_handball: "\f114";
$icon-sports_kabaddi: "\f115";
$icon-eco: "\f116";
$icon-museum: "\f117";
$icon-flip_camera_android: "\f118";
$icon-flip_camera_ios: "\f119";
$icon-cancel_schedule_send: "\f11a";
$icon-apartment: "\f11b";
$icon-bathtub: "\f11c";
$icon-deck: "\f11d";
$icon-fireplace: "\f11e";
$icon-house: "\f11f";
$icon-king_bed: "\f120";
$icon-nights_stay: "\f121";
$icon-outdoor_grill: "\f122";
$icon-single_bed: "\f123";
$icon-square_foot: "\f124";
$icon-double_arrow: "\f125";
$icon-sports_baseball: "\f126";
$icon-attractions: "\f127";
$icon-bakery_dining: "\f128";
$icon-breakfast_dining: "\f129";
$icon-car_rental: "\f12a";
$icon-car_repair: "\f12b";
$icon-dinner_dining: "\f12c";
$icon-dry_cleaning: "\f12d";
$icon-hardware: "\f12e";
$icon-liquor: "\f12f";
$icon-lunch_dining: "\f130";
$icon-nightlife: "\f131";
$icon-park: "\f132";
$icon-ramen_dining: "\f133";
$icon-celebration: "\f134";
$icon-theater_comedy: "\f135";
$icon-badge: "\f136";
$icon-festival: "\f137";
$icon-icecream: "\f138";
$icon-volunteer_activism: "\f139";
$icon-contactless: "\f13a";
$icon-delivery_dining: "\f13b";
$icon-brunch_dining: "\f13c";
$icon-takeout_dining: "\f13d";
$icon-ac_unit: "\f13e";
$icon-airport_shuttle: "\f13f";
$icon-all_inclusive: "\f140";
$icon-beach_access: "\f141";
$icon-business_center: "\f142";
$icon-casino: "\f143";
$icon-child_care: "\f144";
$icon-child_friendly: "\f145";
$icon-fitness_center: "\f146";
$icon-golf_course: "\f147";
$icon-hot_tub: "\f148";
$icon-kitchen: "\f149";
$icon-pool: "\f14a";
$icon-room_service: "\f14b";
$icon-smoke_free: "\f14c";
$icon-smoking_rooms: "\f14d";
$icon-spa: "\f14e";
$icon-no_meeting_room: "\f14f";
$icon-meeting_room: "\f150";
$icon-goat: "\f151";
$icon-5g: "\f152";
$icon-ad_units: "\f153";
$icon-add_business: "\f154";
$icon-add_location_alt: "\f155";
$icon-add_road: "\f156";
$icon-add_to_drive: "\f157";
$icon-addchart: "\f158";
$icon-admin_panel_settings: "\f159";
$icon-agriculture: "\f15a";
$icon-alt_route: "\f15b";
$icon-analytics: "\f15c";
$icon-anchor1: "\f15d";
$icon-animation: "\f15e";
$icon-api: "\f15f";
$icon-app_blocking: "\f160";
$icon-app_registration: "\f161";
$icon-app_settings_alt: "\f162";
$icon-architecture: "\f163";
$icon-arrow_circle_down: "\f164";
$icon-arrow_circle_up: "\f165";
$icon-article: "\f166";
$icon-attach_email: "\f167";
$icon-auto_awesome: "\f168";
$icon-auto_awesome_mosaic: "\f169";
$icon-auto_awesome_motion: "\f16a";
$icon-auto_delete: "\f16b";
$icon-auto_fix_high: "\f16c";
$icon-auto_fix_normal: "\f16d";
$icon-auto_fix_off: "\f16e";
$icon-auto_stories: "\f16f";
$icon-baby_changing_station: "\f170";
$icon-backpack: "\f171";
$icon-backup_table: "\f172";
$icon-batch_prediction: "\f173";
$icon-bedtime: "\f174";
$icon-bento: "\f175";
$icon-bike_scooter: "\f176";
$icon-biotech: "\f177";
$icon-block_flipped: "\f178";
$icon-browser_not_supported: "\f179";
$icon-build_circle: "\f17a";
$icon-calculate: "\f17b";
$icon-campaign: "\f17c";
$icon-carpenter: "\f17d";
$icon-cast_for_education: "\f17e";
$icon-charging_station: "\f17f";
$icon-checkroom: "\f180";
$icon-circle1: "\f181";
$icon-cleaning_services: "\f182";
$icon-close_fullscreen: "\f183";
$icon-closed_caption_disabled: "\f184";
$icon-comment_bank: "\f185";
$icon-construction: "\f186";
$icon-corporate_fare: "\f187";
$icon-countertops: "\f188";
$icon-design_services: "\f189";
$icon-directions_off: "\f18a";
$icon-dirty_lens: "\f18b";
$icon-do_not_step: "\f18c";
$icon-do_not_touch: "\f18d";
$icon-domain_verification: "\f18e";
$icon-drive_file_move: "\f18f";
$icon-dry: "\f190";
$icon-dynamic_form: "\f191";
$icon-east: "\f192";
$icon-edit_road: "\f193";
$icon-electric_bike: "\f194";
$icon-electric_car: "\f195";
$icon-electric_moped: "\f196";
$icon-electric_rickshaw: "\f197";
$icon-electric_scooter: "\f198";
$icon-electrical_services: "\f199";
$icon-elevator: "\f19a";
$icon-engineering: "\f19b";
$icon-escalator: "\f19c";
$icon-escalator_warning: "\f19d";
$icon-face_retouching_natural: "\f19e";
$icon-fact_check: "\f19f";
$icon-family_restroom: "\f1a0";
$icon-fence: "\f1a1";
$icon-filter_alt: "\f1a2";
$icon-fire_extinguisher: "\f1a3";
$icon-flaky: "\f1a4";
$icon-food_bank: "\f1a5";
$icon-forward_to_inbox: "\f1a6";
$icon-foundation: "\f1a7";
$icon-grading: "\f1a8";
$icon-grass: "\f1a9";
$icon-handyman: "\f1aa";
$icon-hdr_enhanced_select: "\f1ab";
$icon-hearing_disabled: "\f1ac";
$icon-help_center: "\f1ad";
$icon-highlight_alt: "\f1ae";
$icon-history_edu: "\f1af";
$icon-history_toggle_off: "\f1b0";
$icon-home_repair_service: "\f1b1";
$icon-horizontal_rule: "\f1b2";
$icon-hourglass_bottom: "\f1b3";
$icon-hourglass_disabled: "\f1b4";
$icon-hourglass_top: "\f1b5";
$icon-house_siding: "\f1b6";
$icon-hvac: "\f1b7";
$icon-image_not_supported: "\f1b8";
$icon-insights: "\f1b9";
$icon-integration_instructions: "\f1ba";
$icon-ios_share: "\f1bb";
$icon-legend_toggle: "\f1bc";
$icon-local_fire_department: "\f1bd";
$icon-local_police: "\f1be";
$icon-location_pin: "\f1bf";
$icon-lock_clock: "\f1c0";
$icon-login: "\f1c1";
$icon-maps_ugc: "\f1c2";
$icon-mark_chat_read: "\f1c3";
$icon-mark_chat_unread: "\f1c4";
$icon-mark_email_read: "\f1c5";
$icon-mark_email_unread: "\f1c6";
$icon-mediation: "\f1c7";
$icon-medical_services: "\f1c8";
$icon-mic_external_off: "\f1c9";
$icon-mic_external_on: "\f1ca";
$icon-microwave: "\f1cb";
$icon-military_tech: "\f1cc";
$icon-miscellaneous_services: "\f1cd";
$icon-model_training: "\f1ce";
$icon-monitor: "\f1cf";
$icon-moped: "\f1d0";
$icon-more_time: "\f1d1";
$icon-motion_photos_off: "\f1d2";
$icon-motion_photos_on: "\f1d3";
$icon-motion_photos_paused: "\f1d4";
$icon-multiple_stop: "\f1d5";
$icon-nat: "\f1d6";
$icon-near_me_disabled: "\f1d7";
$icon-next_plan: "\f1d8";
$icon-night_shelter: "\f1d9";
$icon-nightlight_round: "\f1da";
$icon-no_cell: "\f1db";
$icon-no_drinks: "\f1dc";
$icon-no_flash: "\f1dd";
$icon-no_food: "\f1de";
$icon-no_meals: "\f1df";
$icon-no_photography: "\f1e0";
$icon-no_stroller: "\f1e1";
$icon-no_transfer: "\f1e2";
$icon-north: "\f1e3";
$icon-north_east: "\f1e4";
$icon-north_west: "\f1e5";
$icon-not_accessible: "\f1e6";
$icon-not_started: "\f1e7";
$icon-online_prediction: "\f1e8";
$icon-open_in_full: "\f1e9";
$icon-outbox: "\f1ea";
$icon-outgoing_mail: "\f1eb";
$icon-outlet: "\f1ec";
$icon-panorama_horizontal_select: "\f1ed";
$icon-panorama_vertical_select: "\f1ee";
$icon-panorama_wide_angle_select: "\f1ef";
$icon-payments: "\f1f0";
$icon-pedal_bike: "\f1f1";
$icon-pending: "\f1f2";
$icon-pending_actions: "\f1f3";
$icon-person_add_alt: "\f1f4";
$icon-person_add_alt_1: "\f1f5";
$icon-person_remove: "\f1f6";
$icon-person_search: "\f1f7";
$icon-pest_control: "\f1f8";
$icon-pest_control_rodent: "\f1f9";
$icon-photo_camera_back: "\f1fa";
$icon-photo_camera_front: "\f1fb";
$icon-plagiarism: "\f1fc";
$icon-play_disabled: "\f1fd";
$icon-plumbing: "\f1fe";
$icon-point_of_sale: "\f1ff";
$icon-preview: "\f200";
$icon-privacy_tip: "\f201";
$icon-psychology: "\f202";
$icon-public_off: "\f203";
$icon-push_pin: "\f204";
$icon-qr_code: "\f205";
$icon-qr_code_scanner: "\f206";
$icon-quickreply: "\f207";
$icon-read_more: "\f208";
$icon-receipt_long: "\f209";
$icon-request_quote: "\f20a";
$icon-rice_bowl: "\f20b";
$icon-roofing: "\f20c";
$icon-room_preferences: "\f20d";
$icon-rule: "\f20e";
$icon-rule_folder: "\f20f";
$icon-run_circle: "\f210";
$icon-science: "\f211";
$icon-screen_search_desktop: "\f212";
$icon-search_off: "\f213";
$icon-self_improvement: "\f214";
$icon-sensor_door: "\f215";
$icon-sensor_window: "\f216";
$icon-set_meal: "\f217";
$icon-shopping_bag: "\f218";
$icon-signal_cellular_0_bar: "\f219";
$icon-signal_wifi_0_bar: "\f21a";
$icon-smart_button: "\f21b";
$icon-snippet_folder: "\f21c";
$icon-soap: "\f21d";
$icon-source: "\f21e";
$icon-south: "\f21f";
$icon-south_east: "\f220";
$icon-south_west: "\f221";
$icon-sports_bar: "\f222";
$icon-stairs: "\f223";
$icon-star_outline1: "\f224";
$icon-star_rate: "\f225";
$icon-sticky_note_2: "\f226";
$icon-stop_circle: "\f227";
$icon-stroller: "\f228";
$icon-subscript1: "\f229";
$icon-subtitles_off: "\f22a";
$icon-superscript1: "\f22b";
$icon-support: "\f22c";
$icon-support_agent: "\f22d";
$icon-switch_left: "\f22e";
$icon-switch_right: "\f22f";
$icon-table_rows: "\f230";
$icon-table_view: "\f231";
$icon-tapas1: "\f232";
$icon-taxi_alert: "\f233";
$icon-text_snippet: "\f234";
$icon-tour: "\f235";
$icon-tty: "\f236";
$icon-umbrella: "\f237";
$icon-upgrade: "\f238";
$icon-verified: "\f239";
$icon-video_settings: "\f23a";
$icon-view_sidebar: "\f23b";
$icon-wash: "\f23c";
$icon-water_damage: "\f23d";
$icon-west: "\f23e";
$icon-wheelchair_pickup: "\f23f";
$icon-wifi_calling: "\f240";
$icon-wifi_protected_setup: "\f241";
$icon-wine_bar: "\f242";
$icon-wrong_location: "\f243";
$icon-wysiwyg: "\f244";
$icon-leaderboard: "\f245";
$icon-6_ft_apart: "\f246";
$icon-book_online: "\f247";
$icon-clean_hands: "\f248";
$icon-connect_without_contact: "\f249";
$icon-coronavirus: "\f24a";
$icon-elderly: "\f24b";
$icon-follow_the_signs: "\f24c";
$icon-leave_bags_at_home: "\f24d";
$icon-masks: "\f24e";
$icon-reduce_capacity: "\f24f";
$icon-sanitizer: "\f250";
$icon-send_to_mobile: "\f251";
$icon-sick: "\f252";
$icon-add_task: "\f253";
$icon-contact_page: "\f254";
$icon-disabled_by_default: "\f255";
$icon-facebook3: "\f256";
$icon-groups: "\f257";
$icon-luggage: "\f258";
$icon-no_backpack: "\f259";
$icon-no_luggage: "\f25a";
$icon-outbond: "\f25b";
$icon-published_with_changes: "\f25c";
$icon-request_page: "\f25d";
$icon-stacked_line_chart: "\f25e";
$icon-unpublished: "\f25f";
$icon-align_horizontal_center: "\f260";
$icon-align_horizontal_left: "\f261";
$icon-align_horizontal_right: "\f262";
$icon-align_vertical_bottom: "\f263";
$icon-align_vertical_center: "\f264";
$icon-align_vertical_top: "\f265";
$icon-horizontal_distribute: "\f266";
$icon-qr_code_2: "\f267";
$icon-update_disabled: "\f268";
$icon-vertical_distribute: "\f269";
$icon-home: "\f26a";
$icon-home2: "\f26b";
$icon-home3: "\f26c";
$icon-office: "\f26d";
$icon-newspaper: "\f26e";
$icon-pencil: "\f26f";
$icon-pencil2: "\f270";
$icon-quill: "\f271";
$icon-pen: "\f272";
$icon-blog: "\f273";
$icon-eyedropper: "\f274";
$icon-droplet: "\f275";
$icon-paint-format: "\f276";
$icon-image: "\f277";
$icon-images: "\f278";
$icon-camera: "\f279";
$icon-headphones: "\f27a";
$icon-music: "\f27b";
$icon-play: "\f27c";
$icon-film: "\f27d";
$icon-video-camera: "\f27e";
$icon-dice: "\f27f";
$icon-pacman: "\f280";
$icon-spades: "\f281";
$icon-clubs: "\f282";
$icon-diamonds: "\f283";
$icon-bullhorn: "\f284";
$icon-connection: "\f285";
$icon-podcast: "\f286";
$icon-feed: "\f287";
$icon-mic: "\f288";
$icon-book: "\f289";
$icon-books: "\f28a";
$icon-library: "\f28b";
$icon-file-text: "\f28c";
$icon-profile: "\f28d";
$icon-file-empty: "\f28e";
$icon-files-empty: "\f28f";
$icon-file-text2: "\f290";
$icon-file-picture: "\f291";
$icon-file-music: "\f292";
$icon-file-play: "\f293";
$icon-file-video: "\f294";
$icon-file-zip: "\f295";
$icon-copy: "\f296";
$icon-paste: "\f297";
$icon-stack: "\f298";
$icon-folder: "\f299";
$icon-folder-open: "\f29a";
$icon-folder-plus: "\f29b";
$icon-folder-minus: "\f29c";
$icon-folder-download: "\f29d";
$icon-folder-upload: "\f29e";
$icon-price-tag: "\f29f";
$icon-price-tags: "\f2a0";
$icon-barcode: "\f2a1";
$icon-qrcode: "\f2a2";
$icon-ticket: "\f2a3";
$icon-cart: "\f2a4";
$icon-coin-dollar: "\f2a5";
$icon-coin-euro: "\f2a6";
$icon-coin-pound: "\f2a7";
$icon-coin-yen: "\f2a8";
$icon-credit-card: "\f2a9";
$icon-calculator: "\f2aa";
$icon-lifebuoy: "\f2ab";
$icon-phone: "\f2ac";
$icon-phone-hang-up: "\f2ad";
$icon-address-book: "\f2ae";
$icon-envelop: "\f2af";
$icon-pushpin: "\f2b0";
$icon-location: "\f2b1";
$icon-location2: "\f2b2";
$icon-compass: "\f2b3";
$icon-compass2: "\f2b4";
$icon-map: "\f2b5";
$icon-map2: "\f2b6";
$icon-history: "\f2b7";
$icon-clock: "\f2b8";
$icon-clock2: "\f2b9";
$icon-alarm: "\f2ba";
$icon-bell: "\f2bb";
$icon-stopwatch: "\f2bc";
$icon-calendar: "\f2bd";
$icon-printer: "\f2be";
$icon-keyboard: "\f2bf";
$icon-display: "\f2c0";
$icon-laptop: "\f2c1";
$icon-mobile: "\f2c2";
$icon-mobile2: "\f2c3";
$icon-tablet: "\f2c4";
$icon-tv: "\f2c5";
$icon-drawer: "\f2c6";
$icon-drawer2: "\f2c7";
$icon-box-add: "\f2c8";
$icon-box-remove: "\f2c9";
$icon-download: "\f2ca";
$icon-upload: "\f2cb";
$icon-floppy-disk: "\f2cc";
$icon-drive: "\f2cd";
$icon-database: "\f2ce";
$icon-undo: "\f2cf";
$icon-redo: "\f2d0";
$icon-undo2: "\f2d1";
$icon-redo2: "\f2d2";
$icon-forward: "\f2d3";
$icon-reply: "\f2d4";
$icon-bubble: "\f2d5";
$icon-bubbles: "\f2d6";
$icon-bubbles2: "\f2d7";
$icon-bubble2: "\f2d8";
$icon-bubbles3: "\f2d9";
$icon-bubbles4: "\f2da";
$icon-user: "\f2db";
$icon-users: "\f2dc";
$icon-user-plus: "\f2dd";
$icon-user-minus: "\f2de";
$icon-user-check: "\f2df";
$icon-user-tie: "\f2e0";
$icon-quotes-left: "\f2e1";
$icon-quotes-right: "\f2e2";
$icon-hour-glass: "\f2e3";
$icon-spinner: "\f2e4";
$icon-spinner2: "\f2e5";
$icon-spinner3: "\f2e6";
$icon-spinner4: "\f2e7";
$icon-spinner5: "\f2e8";
$icon-spinner6: "\f2e9";
$icon-spinner7: "\f2ea";
$icon-spinner8: "\f2eb";
$icon-spinner9: "\f2ec";
$icon-spinner10: "\f2ed";
$icon-spinner11: "\f2ee";
$icon-binoculars: "\f2ef";
$icon-search: "\f2f0";
$icon-zoom-in: "\f2f1";
$icon-zoom-out: "\f2f2";
$icon-enlarge: "\f2f3";
$icon-shrink: "\f2f4";
$icon-enlarge2: "\f2f5";
$icon-shrink2: "\f2f6";
$icon-key: "\f2f7";
$icon-key2: "\f2f8";
$icon-lock: "\f2f9";
$icon-unlocked: "\f2fa";
$icon-wrench: "\f2fb";
$icon-equalizer: "\f2fc";
$icon-equalizer2: "\f2fd";
$icon-cog: "\f2fe";
$icon-cogs: "\f2ff";
$icon-hammer: "\f300";
$icon-magic-wand: "\f301";
$icon-aid-kit: "\f302";
$icon-bug: "\f303";
$icon-pie-chart: "\f304";
$icon-stats-dots: "\f305";
$icon-stats-bars: "\f306";
$icon-stats-bars2: "\f307";
$icon-trophy: "\f308";
$icon-gift: "\f309";
$icon-glass: "\f30a";
$icon-glass2: "\f30b";
$icon-mug: "\f30c";
$icon-spoon-knife: "\f30d";
$icon-leaf: "\f30e";
$icon-rocket: "\f30f";
$icon-meter: "\f310";
$icon-meter2: "\f311";
$icon-hammer2: "\f312";
$icon-fire: "\f313";
$icon-lab: "\f314";
$icon-magnet: "\f315";
$icon-bin: "\f316";
$icon-bin2: "\f317";
$icon-briefcase: "\f318";
$icon-airplane: "\f319";
$icon-truck: "\f31a";
$icon-road: "\f31b";
$icon-accessibility: "\f31c";
$icon-target: "\f31d";
$icon-shield: "\f31e";
$icon-power: "\f31f";
$icon-switch: "\f320";
$icon-power-cord: "\f321";
$icon-clipboard: "\f322";
$icon-list-numbered: "\f323";
$icon-list: "\f324";
$icon-list2: "\f325";
$icon-tree: "\f326";
$icon-menu: "\f327";
$icon-menu2: "\f328";
$icon-menu3: "\f329";
$icon-menu4: "\f32a";
$icon-cloud: "\f32b";
$icon-cloud-download: "\f32c";
$icon-cloud-upload: "\f32d";
$icon-cloud-check: "\f32e";
$icon-download2: "\f32f";
$icon-upload2: "\f330";
$icon-download3: "\f331";
$icon-upload3: "\f332";
$icon-sphere: "\f333";
$icon-earth: "\f334";
$icon-link: "\f335";
$icon-flag: "\f336";
$icon-attachment: "\f337";
$icon-eye: "\f338";
$icon-eye-plus: "\f339";
$icon-eye-minus: "\f33a";
$icon-eye-blocked: "\f33b";
$icon-bookmark: "\f33c";
$icon-bookmarks: "\f33d";
$icon-sun: "\f33e";
$icon-contrast: "\f33f";
$icon-brightness-contrast: "\f340";
$icon-star-empty: "\f341";
$icon-star-half: "\f342";
$icon-star-full: "\f343";
$icon-heart: "\f344";
$icon-heart-broken: "\f345";
$icon-man: "\f346";
$icon-woman: "\f347";
$icon-man-woman: "\f348";
$icon-happy: "\f349";
$icon-happy2: "\f34a";
$icon-smile: "\f34b";
$icon-smile2: "\f34c";
$icon-tongue: "\f34d";
$icon-tongue2: "\f34e";
$icon-sad: "\f34f";
$icon-sad2: "\f350";
$icon-wink: "\f351";
$icon-wink2: "\f352";
$icon-grin: "\f353";
$icon-grin2: "\f354";
$icon-cool: "\f355";
$icon-cool2: "\f356";
$icon-angry: "\f357";
$icon-angry2: "\f358";
$icon-evil: "\f359";
$icon-evil2: "\f35a";
$icon-shocked: "\f35b";
$icon-shocked2: "\f35c";
$icon-baffled: "\f35d";
$icon-baffled2: "\f35e";
$icon-confused: "\f35f";
$icon-confused2: "\f360";
$icon-neutral: "\f361";
$icon-neutral2: "\f362";
$icon-hipster: "\f363";
$icon-hipster2: "\f364";
$icon-wondering: "\f365";
$icon-wondering2: "\f366";
$icon-sleepy: "\f367";
$icon-sleepy2: "\f368";
$icon-frustrated: "\f369";
$icon-frustrated2: "\f36a";
$icon-crying: "\f36b";
$icon-crying2: "\f36c";
$icon-point-up: "\f36d";
$icon-point-right: "\f36e";
$icon-point-down: "\f36f";
$icon-point-left: "\f370";
$icon-warning: "\f371";
$icon-notification: "\f372";
$icon-question: "\f373";
$icon-plus: "\f374";
$icon-minus: "\f375";
$icon-info: "\f376";
$icon-cancel-circle: "\f377";
$icon-blocked: "\f378";
$icon-cross: "\f379";
$icon-checkmark: "\f37a";
$icon-checkmark2: "\f37b";
$icon-spell-check: "\f37c";
$icon-enter: "\f37d";
$icon-exit: "\f37e";
$icon-play2: "\f37f";
$icon-pause: "\f380";
$icon-stop: "\f381";
$icon-previous: "\f382";
$icon-next: "\f383";
$icon-backward: "\f384";
$icon-forward2: "\f385";
$icon-play3: "\f386";
$icon-pause2: "\f387";
$icon-stop2: "\f388";
$icon-backward2: "\f389";
$icon-forward3: "\f38a";
$icon-first: "\f38b";
$icon-last: "\f38c";
$icon-previous2: "\f38d";
$icon-next2: "\f38e";
$icon-eject: "\f38f";
$icon-volume-high: "\f390";
$icon-volume-medium: "\f391";
$icon-volume-low: "\f392";
$icon-volume-mute: "\f393";
$icon-volume-mute2: "\f394";
$icon-volume-increase: "\f395";
$icon-volume-decrease: "\f396";
$icon-loop: "\f397";
$icon-loop2: "\f398";
$icon-infinite: "\f399";
$icon-shuffle: "\f39a";
$icon-arrow-up-left: "\f39b";
$icon-arrow-up: "\f39c";
$icon-arrow-up-right: "\f39d";
$icon-arrow-right: "\f39e";
$icon-arrow-down-right: "\f39f";
$icon-arrow-down: "\f3a0";
$icon-arrow-down-left: "\f3a1";
$icon-arrow-left: "\f3a2";
$icon-arrow-up-left2: "\f3a3";
$icon-arrow-up2: "\f3a4";
$icon-arrow-up-right2: "\f3a5";
$icon-arrow-right2: "\f3a6";
$icon-arrow-down-right2: "\f3a7";
$icon-arrow-down2: "\f3a8";
$icon-arrow-down-left2: "\f3a9";
$icon-arrow-left2: "\f3aa";
$icon-circle-up: "\f3ab";
$icon-circle-right: "\f3ac";
$icon-circle-down: "\f3ad";
$icon-circle-left: "\f3ae";
$icon-tab: "\f3af";
$icon-move-up: "\f3b0";
$icon-move-down: "\f3b1";
$icon-sort-alpha-asc: "\f3b2";
$icon-sort-alpha-desc: "\f3b3";
$icon-sort-numeric-asc: "\f3b4";
$icon-sort-numberic-desc: "\f3b5";
$icon-sort-amount-asc: "\f3b6";
$icon-sort-amount-desc: "\f3b7";
$icon-command: "\f3b8";
$icon-shift: "\f3b9";
$icon-ctrl: "\f3ba";
$icon-opt: "\f3bb";
$icon-checkbox-checked: "\f3bc";
$icon-checkbox-unchecked: "\f3bd";
$icon-radio-checked: "\f3be";
$icon-radio-checked2: "\f3bf";
$icon-radio-unchecked: "\f3c0";
$icon-crop: "\f3c1";
$icon-make-group: "\f3c2";
$icon-ungroup: "\f3c3";
$icon-scissors: "\f3c4";
$icon-filter: "\f3c5";
$icon-font: "\f3c6";
$icon-ligature: "\f3c7";
$icon-ligature2: "\f3c8";
$icon-text-height: "\f3c9";
$icon-text-width: "\f3ca";
$icon-font-size: "\f3cb";
$icon-bold: "\f3cc";
$icon-underline: "\f3cd";
$icon-italic: "\f3ce";
$icon-strikethrough: "\f3cf";
$icon-omega: "\f3d0";
$icon-sigma: "\f3d1";
$icon-page-break: "\f3d2";
$icon-superscript: "\f3d3";
$icon-subscript: "\f3d4";
$icon-superscript2: "\f3d5";
$icon-subscript2: "\f3d6";
$icon-text-color: "\f3d7";
$icon-pagebreak: "\f3d8";
$icon-clear-formatting: "\f3d9";
$icon-table: "\f3da";
$icon-table2: "\f3db";
$icon-insert-template: "\f3dc";
$icon-pilcrow: "\f3dd";
$icon-ltr: "\f3de";
$icon-rtl: "\f3df";
$icon-section: "\f3e0";
$icon-paragraph-left: "\f3e1";
$icon-paragraph-center: "\f3e2";
$icon-paragraph-right: "\f3e3";
$icon-paragraph-justify: "\f3e4";
$icon-indent-increase: "\f3e5";
$icon-indent-decrease: "\f3e6";
$icon-share: "\f3e7";
$icon-new-tab: "\f3e8";
$icon-embed: "\f3e9";
$icon-embed2: "\f3ea";
$icon-terminal: "\f3eb";
$icon-share2: "\f3ec";
$icon-mail: "\f3ed";
$icon-mail2: "\f3ee";
$icon-mail3: "\f3ef";
$icon-mail4: "\f3f0";
$icon-amazon: "\f3f1";
$icon-google: "\f3f2";
$icon-google2: "\f3f3";
$icon-google3: "\f3f4";
$icon-google-plus: "\f3f5";
$icon-google-plus2: "\f3f6";
$icon-google-plus3: "\f3f7";
$icon-hangouts: "\f3f8";
$icon-google-drive: "\f3f9";
$icon-facebook: "\f3fa";
$icon-facebook2: "\f3fb";
$icon-instagram: "\f3fc";
$icon-whatsapp: "\f3fd";
$icon-spotify: "\f3fe";
$icon-telegram: "\f3ff";
$icon-twitter: "\f400";
$icon-vine: "\f401";
$icon-vk: "\f402";
$icon-renren: "\f403";
$icon-sina-weibo: "\f404";
$icon-rss: "\f405";
$icon-rss2: "\f406";
$icon-youtube: "\f407";
$icon-youtube2: "\f408";
$icon-twitch: "\f409";
$icon-vimeo: "\f40a";
$icon-vimeo2: "\f40b";
$icon-lanyrd: "\f40c";
$icon-flickr: "\f40d";
$icon-flickr2: "\f40e";
$icon-flickr3: "\f40f";
$icon-flickr4: "\f410";
$icon-dribbble: "\f411";
$icon-behance: "\f412";
$icon-behance2: "\f413";
$icon-deviantart: "\f414";
$icon-500px: "\f415";
$icon-steam: "\f416";
$icon-steam2: "\f417";
$icon-dropbox: "\f418";
$icon-onedrive: "\f419";
$icon-github: "\f41a";
$icon-npm: "\f41b";
$icon-basecamp: "\f41c";
$icon-trello: "\f41d";
$icon-wordpress: "\f41e";
$icon-joomla: "\f41f";
$icon-ello: "\f420";
$icon-blogger: "\f421";
$icon-blogger2: "\f422";
$icon-tumblr: "\f423";
$icon-tumblr2: "\f424";
$icon-yahoo: "\f425";
$icon-yahoo2: "\f426";
$icon-tux: "\f427";
$icon-appleinc: "\f428";
$icon-finder: "\f429";
$icon-android: "\f42a";
$icon-windows: "\f42b";
$icon-windows8: "\f42c";
$icon-soundcloud: "\f42d";
$icon-soundcloud2: "\f42e";
$icon-skype: "\f42f";
$icon-reddit: "\f430";
$icon-hackernews: "\f431";
$icon-wikipedia: "\f432";
$icon-linkedin: "\f433";
$icon-linkedin2: "\f434";
$icon-lastfm: "\f435";
$icon-lastfm2: "\f436";
$icon-delicious: "\f437";
$icon-stumbleupon: "\f438";
$icon-stumbleupon2: "\f439";
$icon-stackoverflow: "\f43a";
$icon-pinterest: "\f43b";
$icon-pinterest2: "\f43c";
$icon-xing: "\f43d";
$icon-xing2: "\f43e";
$icon-flattr: "\f43f";
$icon-foursquare: "\f440";
$icon-yelp: "\f441";
$icon-paypal: "\f442";
$icon-chrome: "\f443";
$icon-firefox: "\f444";
$icon-IE: "\f445";
$icon-edge: "\f446";
$icon-safari: "\f447";
$icon-opera: "\f448";
$icon-file-pdf: "\f449";
$icon-file-openoffice: "\f44a";
$icon-file-word: "\f44b";
$icon-file-excel: "\f44c";
$icon-libreoffice: "\f44d";
$icon-html-five: "\f44e";
$icon-html-five2: "\f44f";
$icon-css3: "\f450";
$icon-git: "\f451";
$icon-codepen: "\f452";
$icon-svg: "\f453";
$icon-IcoMoon: "\f454";

