.btnNotice {
  background-color: #111111;
  padding: 25px;
  border: solid 1px #0e0e0e;
  border-radius: 5px;
  color: #929292;
  transition: background-color .2s, color .2s;

  &:hover {
    color: #ffffff;
    background-color: #3e3e3e;
  }
}