.card {
  box-shadow: 0 8px 17px rgba(0, 0, 0, .1);
  border: solid 1px #00B4FF;
  cursor: pointer;
  transition: color .2s, background-color .2s, border-color .2s, all 0.3s;
}

.terminate {
  max-width: 230px;
}

.animate {
  &:hover {
    transform: scale(1.06);
  }
}

.card-transparent {
  background-color: rgba(0, 174, 255, .25);
  color: white;

  &:hover {
    background-color: rgba(0, 174, 255, .3);
    transform: scale(1.06);
  }

  > img {
    background-size: cover;
    background-position: 50%;
    transition: all .5s cubic-bezier(0, 0, 0, 1.15);
  }
}

.card-body {
  > small {
    color: hsla(0, 0%, 100%, .55);
    display: block;
  }

  .card-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 2em;
  }
}

.card-roadmap {
  width: 95%;
  margin: 0 auto;
  //padding: 8px 0;

  > .card-roadmap-header {
    padding: 8px 12px 7px;
    background-color: rgb(48, 70, 101);
    text-align: center;

    > .row > .col-md-10 > .card-roadmap-title {
      color: rgb(191, 206, 231);
    }
  }

  > .card-roadmap-body {
    background-color: rgb(48, 70, 101);
    padding-top: 10px;
    padding-bottom: 10px;

    > img {
      height: 130px;
      width: 100%;
      margin-bottom: 0;
      background-size: cover;
    }
  }
}

.card_wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 8px 0;

  > .card_zone {
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(16, 23, 35);
    font-size: 13px;
    color: rgb(147, 157, 170);

    > a {
      > header {
        display: flex;
        align-items: flex-start;
        padding: 8px 12px 7px;
        background-color: rgb(48, 70, 101);

        > .card_title {
          margin-right: 10px;
          font-size: 15px;
          color: rgb(191, 206, 231);

          &:hover {
            text-decoration: none;
          }
        }

        > .card_icon_viewbox {
          flex-shrink: 0;
          width: 10px;
          height: 10px;
          fill: rgb(26, 39, 56);
          margin-top: 4px;
          margin-left: auto;
        }
      }

      > .card_thumbnail {
        height: 130px;
        width: 100%;
        margin-bottom: 0;
        background-size: cover;
      }
    }

    > .card_progress_wrapper {
      font-size: 12px;

      > .progress_wrapper {
        background-color: rgb(22, 33, 49);

        > .progress_textual_progress {
          padding: 8px 20px;
          margin: 0;
          color: rgb(147, 157, 170);

          > .progress_stat {
            display: inline-flex;
            margin-right: 5px;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(204, 211, 219);
          }
        }

        > .progress_progress_bar {
          height: 2px;
          background-color: rgb(48, 70, 101);

          > .progress_completion {
            height: 2px;
            background-color: rgb(147, 225, 255);
          }
        }
      }
    }

    > .card_text {
      margin-top: 12px;
      padding: 0 16px 16px;

      > .card_status_label {
        color: rgb(147, 157, 170);
      }

      > .card_status {
        margin-left: 8px;
        color: rgb(204, 211, 219);
      }

      > .card_description {
        margin-top: 8px;
        margin-bottom: 0;
        line-height: 1.4;
      }
    }
  }
}
