.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  box-sizing: border-box;

  > .loaderContent {
    color: white;

    > .chargingElement {
      font-size: 18px;
      animation: pulse 2s infinite;
    }

    > .lds-dual-ring {
      display: flex;
      width: 80px;
      height: 80px;
      position: relative;
      bottom: -1px;
      left: -1px;
      justify-content: center;
      align-items: center;
      align-self: center;
    }

    > .lds-dual-ring:after {
      content: " ";
      display: flex;
      width: 64px;
      height: 64px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      position: relative;
      bottom: -1px;
      left: -1px;
      justify-content: center;
      align-items: center;
      align-self: center;
      animation: lds-dual-ring 1.2s ease infinite;
    }
  }
}

@keyframes pulse {
  0% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8), 0px 0px 45px #FFFFFF;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}