.changelog {
  margin-top: 10px;
  color: white;
  > .changelog_version_title {
    font-size: 29px;
    line-height: 0.5;
    padding-top: 10px;
  }

  > small {
    font-size: 15px;
    color: #8d8d8d;
  }

  > .changelog_version {
    color: #03baba;
    font-size: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .changelog_section {
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      border-bottom: solid 1px #0c1119;
    }

    > .changelog_title {
      font-size: 17px;
      font-weight: bold;
      padding-bottom: 10px;
    }
  }
}