<div class="board_aside_container">
    <nav class="board_selector">
        <a href="" class="nav-link logo">
            <div class="left-arrow"></div>
            <img src="media/logo.png" alt="">
        </a>
        <div class="appLogo">
            <img src="media/logo-roadmap.png" alt="">
        </div>
        <a href="" class="nav-link process active">
            <img src="media/route_pdl.png" alt="">
        </a>
        <a href="" class="nav-link process">
            <img src="media/route_transilien.png" alt="">
        </a>
        <a href="" class="nav-link foot">
            <i class="fa fa-warning" style="font-size: 16px;"></i>
            <span>
                                    Explication
                                </span>
        </a>
    </nav>
</div>
<div style="position: relative; overflow: hidden; width: 100%; height: calc(100vh - 87px);">
    <div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: scroll; margin-right: -17px; margin-bottom: -17px;">
        <div class="board_content">
            <div class="container-fluid mb-2">
                <div class="row" id="newsWrapper">
                    <div class="col-md-3">
                        <div class="card card-transparent">
                            <img src="https://trainznation.tk//storage/blog/5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small>Pays de la Loire V3</small>
                                <h5 class="card-title">Test d'un Titre</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-transparent">
                            <img src="https://trainznation.tk//storage/blog/5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small>Pays de la Loire V3</small>
                                <h5 class="card-title">Test d'un Titre</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-transparent">
                            <img src="https://trainznation.tk//storage/blog/5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small>Pays de la Loire V3</small>
                                <h5 class="card-title">Test d'un Titre</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-transparent">
                            <img src="https://trainznation.tk//storage/blog/5.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <small>Pays de la Loire V3</small>
                                <h5 class="card-title">Test d'un Titre</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news_container">
                <div class="pane">
                    <h1 class="h5 text-uppercase font-weight-bold">Actualités Récentes</h1>
                    <ol class="articleList" id="listArticle">
                        <li class="articleListItem">
                            <div class="card card-transparent">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="https://trainznation.tk//storage/blog/5.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <small>Pays de la Loire V3</small>
                                            <h5 class="card-title">Test d'un titre</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid culpa dignissimos facilis, illum ipsam molestiae natus necessitatibus nobis quae quos suscipit, voluptas voluptatem? Aliquam atque deserunt minima quasi ut.</p>
                                        </div>
                                        <div class="card-footer">
                                            Il y a un jour
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="articleListItem">
                            <div class="card card-transparent">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="https://trainznation.tk//storage/blog/5.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <small>Pays de la Loire V3</small>
                                            <h5 class="card-title">Test d'un titre</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid culpa dignissimos facilis, illum ipsam molestiae natus necessitatibus nobis quae quos suscipit, voluptas voluptatem? Aliquam atque deserunt minima quasi ut.</p>
                                        </div>
                                        <div class="card-footer">
                                            Il y a un jour
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="articleListItem">
                            <div class="card card-transparent">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="https://trainznation.tk//storage/blog/5.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <small>Pays de la Loire V3</small>
                                            <h5 class="card-title">Test d'un titre</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid culpa dignissimos facilis, illum ipsam molestiae natus necessitatibus nobis quae quos suscipit, voluptas voluptatem? Aliquam atque deserunt minima quasi ut.</p>
                                        </div>
                                        <div class="card-footer">
                                            Il y a un jour
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="articleListItem">
                            <div class="card card-transparent">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="https://trainznation.tk//storage/blog/5.png" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <small>Pays de la Loire V3</small>
                                            <h5 class="card-title">Test d'un titre</h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid culpa dignissimos facilis, illum ipsam molestiae natus necessitatibus nobis quae quos suscipit, voluptas voluptatem? Aliquam atque deserunt minima quasi ut.</p>
                                        </div>
                                        <div class="card-footer">
                                            Il y a un jour
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../assets/pages/article.js"></script>