<div class="changelog">
    <div class="changelog_version_title text-uppercase">Mise à jour 0.0.24</div>
    <small>12/11/2020</small>
    <div class="changelog_version">12578</div>
    <section class="changelog_section">
        <h2 class="changelog_title">Correction de bugs</h2>
        <div class="changelog_desc">
            <ul>
                <li>Correction du preloading du système</li>
                <li>Correction des chemins accès API</li>
            </ul>
        </div>
    </section>
</div>
<div class="changelog">
    <div class="changelog_version_title text-uppercase">Mise à jour 0.0.23</div>
    <small>16/09/2020</small>
    <div class="changelog_version">12564</div>
    <section class="changelog_section">
        <h2 class="changelog_title">Route</h2>
        <div class="changelog_desc">
            <p>
                La section <i>Route</i> à été ajouter au launcher.<br>
                Vous pouvez dorénavent voir les informations sur une de nos créations, mais également les téléchargés.<br>
                Vous ne pouvez pas encore télécharger les sessions associés au route actuellement, mais nous travaillons dessus (24 ou 25).<br>
                En effet, en cliquant sur le bouton <i>Télécharger</i> le système installera automatiquement l'objet dans le <i>Content Manager</i>.<br>
                <span class="text-danger font-italic"><strong>Attention:</strong> Afin de bénéficier de cette fonctionnalité, vous devez paramétrer le logiciel avec votre version et le dossier d'installation de Trainz.</span>.
            </p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">A Propos</h2>
        <div class="changelog_desc">
            <p>
                Les informations du launcher ont été ajouter à la section <i>A Propos</i> de l'interface <i>Paramètre</i>.
            </p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">Correction de bugs</h2>
        <div class="changelog_desc">
            <ul>
                <li>Nouveau système de base de donnée interne</li>
                <li>Correction du preloading du système</li>
            </ul>
        </div>
    </section>
</div>
<div class="changelog">
    <div class="changelog_version_title text-uppercase">Mise à jour 0.0.22</div>
    <small>14/09/2020</small>
    <div class="changelog_version">12542</div>
    <section class="changelog_section">
        <h2 class="changelog_title">Téléchargement</h2>
        <div class="changelog_desc">
            <p>
                La section <i>Téléchargement</i> à été ajouter au launcher.<br>
                Vous pouvez dorénavent voir les informations sur une de nos créations, mais également les téléchargés.<br>
                En effet, en cliquant sur le bouton <i>Télécharger</i> le système installera automatiquement l'objet dans le <i>Content Manager</i>.<br>
                <span class="text-danger font-italic"><strong>Attention:</strong> Afin de bénéficier de cette fonctionnalité, vous devez paramétrer le logiciel avec votre version et le dossier d'installation de Trainz.</span>.
            </p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">Correction de bugs</h2>
        <div class="changelog_desc">
            <ul>
                <li>Correction du mapping d'adressage</li>
                <li>Ajout d'un indicateur si le serveur est indisponible</li>
            </ul>
        </div>
    </section>
</div>
<div class="changelog">
    <div class="changelog_version_title text-uppercase">Mise à jour 0.0.21</div>
    <small>12/09/2020</small>
    <div class="changelog_version">12532</div>
    <section class="changelog_section">
        <h2 class="changelog_title">Paramétrages de l'application</h2>
        <div class="changelog_desc">
            <p>Vous pouvez dorénavent paramétrés les informations de l'application.</p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">Correction de bugs</h2>
        <div class="changelog_desc">
            <ul>
                <li>Correction du mapping d'adressage</li>
            </ul>
        </div>
    </section>
</div>
<div class="changelog">
    <div class="changelog_version_title text-uppercase">Mise à jour 0.0.20</div>
    <small>12/09/2020</small>
    <div class="changelog_version">12530</div>
    <section class="changelog_section">
        <h2 class="changelog_title">LocalStorage</h2>
        <div class="changelog_desc">
            <p>
                Afin d'amélioré la portabilité du service, un service `LocalStorage` enregistrera tous vos paramètres du launcher.
                <br>Auparavent, le système s'appuyait sur JSON et présentait de grosse lacune au niveau sécurité
            </p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">Nouvelle interface graphique</h2>
        <div class="changelog_desc">
            <p>
                L'expérience utilisateur est très importantes, dans cette optique, nous avons repenser le launcher avec un nouvelle interface graphique.<br>
                N'hésitez pas à nous faire par de vos remarques en cliquant sur le bouton `Remarque` du menu principal.
            </p>
        </div>
    </section>
    <section class="changelog_section">
        <h2 class="changelog_title">Correction de bugs</h2>
        <div class="changelog_desc">
            <ul>
                <li>Mise à jour des compléments logiciel</li>
                <li>Restructuration du programme</li>
                <li>Nettoyage des fichiers. À partir de cette version, tous les paramètres ont été réinitialiser (soft reset)</li>
            </ul>
        </div>
    </section>
</div>